<div id="stock-table">

    <div id="top-buttons-block">

        <p>Order Trees</p>

        <button id="stock-table-close" class="utility-button">Close</button>

    </div>

    <div id='stock-table-inner'>

        <div id="grade-size-image-div">

            <div id="grade-size-images">

                {% for gradeImage in tree.gradeImages %}

                {% if gradeImage.dateTaken.size > 0 %}

                <div class="grade-size-div" data-info="{{ gradeImage.src }}&{{ gradeImage.alt }}&{{ gradeImage.dateTaken }}&{{gradeImage.grade}}">

                    <span class="grade-size-grade">View {{gradeImage.grade}}</span>
                    <img data-grade="{{gradeImage.grade}}" class="grade-size-image" src="https://leafland.co.nz/cdn-cgi/image/format=auto,metadata=none,quality=75,width=300/https://files.leafland.co.nz/{{ gradeImage.src }}" height="300" width="300" alt="{{ gradeImage.alt }}">

                </div>
                {% endif %}

                {% endfor %}
                
            </div>

        </div>

        <div id="grade-sizes">

            <table id="order-grades-table">

                <thead>
                    <tr>
                        <th></th>
                        <th>Grade</th>
                        <th id="grade-price">$Retail</th>
                        <th>Height (m)</th>
                        <th>Standard Height (m)</th>
                        <th>Ready</th>
                        <th>In Production</th>
                    </tr>
                </thead>

                <tbody id="order-grades-table-inner"></tbody>

            </table>

        </div>

        <div id="info-section">

            <p>All prices exclude GST. All pre-orders require a 50% deposit to be paid immediately. Pre-order grades are not guaranteed to be the height listed when ready. Prices subject to change without notice. Actual stock quantity may differ. Every care is taken to accurately record heights but due to slightly different growth rates and other natural variables that can occur within and to a species, variety, or cultivar, the actual height of the final product may differ from what is stated. Grade photos are indicative only and do not necessarily reflect the final product.</p>

        </div>

    </div>

</div>