<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="{{ description | escape }}"/>

    {% if type == "index" %}
    
    <title>Leafland Limited | Best Price | Buy Trees Online | Quality Specimen Trees</title>

    {% elsif type == "product"%}

    <title>{{ tree.fullName | strip_html }} | {{ tree.commonName }} - Leafland Limited | Best Price | Buy Trees Online | Quality Specimen Trees</title>

    {% else %}
    
    <title>{{ title }} - Leafland Limited | Best Price | Buy Trees Online | Quality Specimen Trees</title>

    {% endif %}

    {% if type == 'product' %}
    {% for image in tree.images %}

    {% if forloop.index == 1 %}

    {% assign imageInfo = image | split: "&" %}
    <link rel="preload" as="image" href="https://ik.imagekit.io/leafland/tr:w-1000/{{tree.url}}/{{tree.url}}{{ imageInfo[0] }}.jpg">

    {% break %}

    {% else %}

    {% break %}

    {% endif %}

    {% endfor %}

    {% elsif type == 'index' %}
      <link rel="preload" as="image" href="https://ik.imagekit.io/leafland/tr:w-2000/metrosideros-excelsa/metrosideros-excelsa-2.jpg">
    {% endif %}

    <style>
    {% if type == "product" %}

      {% include "components/css/main.min.css" %}
      {% include "components/css/login.min.css" %}
      {% include "components/css/menu.min.css" %}
      {% include "components/css/order.min.css" %}
      {% include "components/css/order-sent.min.css" %}
      {% include "components/css/submit-order.min.css" %}
      {% include "components/css/search.min.css" %}
      {% include "components/css/stock-table.min.css" %}
      {% include "components/css/pre-order.min.css" %}
      {% include "components/css/product.min.css" %}

    {% elsif type == "tree-finder" %}
      {% include "components/css/main.min.css" %}
      {% include "components/css/login.min.css" %}
      {% include "components/css/menu.min.css" %}
      {% include "components/css/order.min.css" %}
      {% include "components/css/order-sent.min.css" %}
      {% include "components/css/submit-order.min.css" %}
      {% include "components/css/search.min.css" %}
      {% include "components/css/tree-finder.min.css" %}

    {% elsif type == "tree-assistant" %}
      {% include "components/css/main.min.css" %}
      {% include "components/css/login.min.css" %}
      {% include "components/css/menu.min.css" %}
      {% include "components/css/order.min.css" %}
      {% include "components/css/order-sent.min.css" %}
      {% include "components/css/submit-order.min.css" %}
      {% include "components/css/search.min.css" %}
      {% include "components/css/tree-assistant.min.css" %}

    {% elsif type == 'index' %}
      {% include "components/css/main.min.css" %}
      {% include "components/css/login.min.css" %}
      {% include "components/css/menu.min.css" %}
      {% include "components/css/order.min.css" %}
      {% include "components/css/order-sent.min.css" %}
      {% include "components/css/submit-order.min.css" %}
      {% include "components/css/search.min.css" %}
      {% include "components/css/index.min.css" %}

    {% elsif type == 'page' %}
      {% include "components/css/main.min.css" %}
      {% include "components/css/login.min.css" %}
      {% include "components/css/menu.min.css" %}
      {% include "components/css/order.min.css" %}
      {% include "components/css/order-sent.min.css" %}
      {% include "components/css/submit-order.min.css" %}
      {% include "components/css/search.min.css" %}
      {% include "components/css/page.min.css" %}

    {% elsif type == 'information-table' %}
      {% include "components/css/main.min.css" %}
      {% include "components/css/login.min.css" %}
      {% include "components/css/menu.min.css" %}
      {% include "components/css/order.min.css" %}
      {% include "components/css/order-sent.min.css" %}
      {% include "components/css/submit-order.min.css" %}
      {% include "components/css/search.min.css" %}
      {% include "components/css/information-table.min.css" %}

    {% elsif type == 'top-trees' %}
      {% include "components/css/main.min.css" %}
      {% include "components/css/login.min.css" %}
      {% include "components/css/menu.min.css" %}
      {% include "components/css/order.min.css" %}
      {% include "components/css/order-sent.min.css" %}
      {% include "components/css/submit-order.min.css" %}
      {% include "components/css/search.min.css" %}
      {% include "components/css/top-trees.min.css" %}

      {% elsif type == 'trees-of-the-week' %}
      {% include "components/css/main.min.css" %}
      {% include "components/css/login.min.css" %}
      {% include "components/css/menu.min.css" %}
      {% include "components/css/order.min.css" %}
      {% include "components/css/order-sent.min.css" %}
      {% include "components/css/submit-order.min.css" %}
      {% include "components/css/search.min.css" %}
      {% include "components/css/trees-of-the-week.min.css" %}

    {% elsif type == 'stock-list' %}
      {% include "components/css/main.min.css" %}
      {% include "components/css/login.min.css" %}
      {% include "components/css/menu.min.css" %}
      {% include "components/css/order.min.css" %}
      {% include "components/css/order-sent.min.css" %}
      {% include "components/css/submit-order.min.css" %}
      {% include "components/css/search.min.css" %}
      {% include "components/css/stock-list.min.css" %}

    {% endif %}
    </style>

    <link rel="shortcut icon" type="image/svg+xml" href="https://leafland.co.nz/public/assets/logo/leafland-favicon.svg">
    <link rel="alternate icon" type="image/png" href="https://leafland.co.nz/public/assets/logo/leafland-favicon.png">

    {% if type == 'product' %}

        <script type="application/ld+json">
          {
            "@context": "https://schema.org/",
            "@type": "Product",
            "name": "{{ tree.fullName | strip_html }} | {{ tree.commonName }}",

          {% assign min = 10 %}
          {% assign max = 100 %}
          {% assign diff = max | minus: min %}
          {% assign heightValue = tree.height | replace: 'm', '' %}
          {% assign randomNumber = tree.url.size | times: heightValue | modulo: diff | plus: min | round %}

          "aggregateRating": {
            "@type": "AggregateRating",
            "ratingValue": "5",
            "reviewCount": "{{randomNumber}}"
          },

          "offers": {
            "@type": "AggregateOffer",
            "lowPrice": "57.50",
            "highPrice": "1150.00",
            "priceCurrency":"NZD",
            "availability":"https://schema.org/InStock",
            "offerCount": "11"
          },

            {% assign sku = tree.url.size | times: heightValue | times: 25 | round %}
            {% assign mpn = tree.url.size | times: heightValue | times: 25 | modulo: 13 | round %}

            "sku": "{{ sku }}",
            "mpn": "{{ mpn }}",

            "review": [
              {
                "@type": "Review",
                "author": {
                  "@type":"Person",
                  "name":"Leafland Admin"
                  },
                "datePublished": "2022-01-1T09:00:00+13:00",
                "description": "{{tree.description}}",
                "reviewRating": {
                  "@type": "Rating", 
                  "bestRating":"5",
                  "ratingValue":"5",
                  "worstRating":"1"
                  }
              }
            ],

            "image": "https://ik.imagekit.io/leafland/tr:w-75/{{ mainImage }}",
            "description": "{{ description | escape}}",
            "url":"https://leafland.co.nz/trees/{{ url }}/",
            "brand": {
              "@type": "Organization",
              "name": "Leafland",
              "logo": {
                "@type": "ImageObject",
                "url": "https://leafland.co.nz/public/assets/logo/leafland-logo.svg"
              }
            }
          }
        </script>

    {% else %}

      <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "WebPage",
            "name": "{{ title }}",
            "description": "{{description }}",
            "publisher": {
                "@type": "Organization",
                "name": "Leafland Limited",
                "logo": {
                    "@type": "ImageObject",
                    "url": "https://leafland.co.nz/public/assets/logo/leafland-logo.svg"
                }
            }
        }
      </script>
    {% endif %}

  </head>

  {% if type == 'product' %}
    <body data-code='{{ code }}'>
  {% else %}
    <body>
  {% endif %}

    <div id="top-bar">
    
        {% comment %} <p id='top-bar-inner'><span class="top-bar-text">Need a gift for Christmas?</span> <a class="button top-bar-button" href="mailto:sales@leafland.co.nz?subject=Gift Voucher&body=Hi team,%0D%0A%0D%0AI would like to purchase a gift voucher to the value of $">Buy a gift voucher</a></p> {% endcomment %}

        {% comment %} <p id='top-bar-inner'><span class="top-bar-text">We are closed Monday 23rd January for Wellington Anniversary.</span></p> {% endcomment %}

    </div>

    {% include "components/_header.liquid"%}

    <main>
      {{ content }}

      {% include "components/_footer.liquid"%}
    </main>
    
    {% include "components/_login.liquid"%}

    {% include "components/_order.liquid"%}

    {% include "components/_order-sent.liquid"%}

    {% include "components/_submit-order.liquid"%}

    {% include "components/_main-menu.liquid"%}

    {% if type == 'product' %}

    {% include "components/_image-lightbox.liquid"%}

    {% include "components/_stock-table.liquid"%}

    {% include "components/_pre-order.liquid"%}

    {% endif %}

    {% if type == 'tree-finder' %}

    {% include "components/_tree-filter.liquid"%}

    {% endif %}

    {% comment %} <a href="https://wa.me/message/LQJCKF5RQGBTD1" target="_blank" id='whatsapp-link'><img src="https://ik.imagekit.io/leafland/whatsapp-icon.svg" width="60" height="60"></a> {% endcomment %}

  </body>

<script>
  {% if type == "product" %}
{% include "components/js/main.min.js" %}
{% include "components/js/login.min.js" %}
{% include "components/js/menu.min.js" %}
{% include "components/js/order.min.js" %}
{% include "components/js/submit-order.min.js" %}
{% include "components/js/search.min.js" %}
{% include "components/js/product.min.js" %}

    {% elsif type == "tree-finder" %}
{% include "components/js/main.min.js" %}
{% include "components/js/login.min.js" %}
{% include "components/js/menu.min.js" %}
{% include "components/js/order.min.js" %}
{% include "components/js/submit-order.min.js" %}
{% include "components/js/search.min.js" %}
{% include "components/js/tree-finder.min.js" %}

{% elsif type == "tree-assistant" %}
{% include "components/js/main.min.js" %}
{% include "components/js/login.min.js" %}
{% include "components/js/menu.min.js" %}
{% include "components/js/order.min.js" %}
{% include "components/js/submit-order.min.js" %}
{% include "components/js/search.min.js" %}
{% include "components/js/tree-assistant.js" %}


    {% elsif type == 'index' %}
{% include "components/js/login.min.js" %}
{% include "components/js/main.min.js" %}
{% include "components/js/menu.min.js" %}
{% include "components/js/order.min.js" %}
{% include "components/js/submit-order.min.js" %}
{% include "components/js/search.min.js" %}

    {% elsif type == 'page' %}
{% include "components/js/main.min.js" %}
{% include "components/js/login.min.js" %}
{% include "components/js/menu.min.js" %}
{% include "components/js/order.min.js" %}
{% include "components/js/submit-order.min.js" %}
{% include "components/js/search.min.js" %}

    {% elsif type == 'information-table' %}
{% include "components/js/main.min.js" %}
{% include "components/js/login.min.js" %}
{% include "components/js/menu.min.js" %}
{% include "components/js/order.min.js" %}
{% include "components/js/submit-order.min.js" %}
{% include "components/js/search.min.js" %}

    {% elsif type == 'top-trees' %}
{% include "components/js/main.min.js" %}
{% include "components/js/login.min.js" %}
{% include "components/js/menu.min.js" %}
{% include "components/js/order.min.js" %}
{% include "components/js/submit-order.min.js" %}
{% include "components/js/search.min.js" %}

{% elsif type == 'trees-of-the-week' %}
{% include "components/js/main.min.js" %}
{% include "components/js/login.min.js" %}
{% include "components/js/menu.min.js" %}
{% include "components/js/order.min.js" %}
{% include "components/js/submit-order.min.js" %}
{% include "components/js/search.min.js" %}

    {% elsif type == 'stock-list' %}
{% include "components/js/main.min.js" %}
{% include "components/js/login.min.js" %}
{% include "components/js/menu.min.js" %}
{% include "components/js/order.min.js" %}
{% include "components/js/submit-order.min.js" %}
{% include "components/js/search.min.js" %}
{% include "components/js/stock-list.min.js" %}

    {% endif %}
    
</script>
</html>
