<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="{{ description | escape }}"/>
    <title>
    {% if type == "index" %}Leafland Tree Nursery | Buy Trees Online | Quality Specimen Trees
    {% elsif type == "product" and commonName == ""%}{{ botanicalName }} - Leafland Tree Nursery | Buy Trees Online | Quality Specimen Trees
    {% elsif type == "product"%}{{ botanicalName }} ({{ commonName }}) - Leafland Tree Nursery | Buy Trees Online | Quality Specimen Trees
    {% else %}{{ title }} - Leafland Tree Nursery | Buy Trees Online | Quality Specimen Trees
    {% endif %}
    </title>

    <link rel='preconnect' href="https://bat.bing.com">
    <link rel='dns-prefetch' href="https://bat.bing.com">
    <link rel='preconnect' href="https://www.google-analytics.com">
    <link rel='dns-prefetch' href="https://www.google-analytics.com">


    {% if type == 'product' %}
      <link rel="preload" as="image" href="https://images.leafland.co.nz/images/trees/{{ mainImage }}?tr=w-500,q-75,pr-true,f-auto">
    {% elsif type == 'tree-finder' %}
      {% for tree in trees %}
        {% if forloop.index0 < 3 %}
          <link rel="preload" as="image" href="https://images.leafland.co.nz/images/trees/{{ tree.mainImage }}?tr=w-400,q-75,pr-true,f-auto">
        {% else %}
          {% break %}
        {% endif %}
      {% endfor %}
    {% elsif type == 'index' %}
      {% comment %} <link rel="preload" as="image" href="https://images.leafland.co.nz/images/home/aerial-view-of-leafland-nursery-full.jpg?tr=w-2000,q-75,pr-true,f-auto" imagesrcset="https://images.leafland.co.nz/images/home/aerial-view-of-leafland-nursery-full.jpg?tr=w-600,q-75,pr-true,f-auto 600w, https://images.leafland.co.nz/images/home/aerial-view-of-leafland-nursery-full.jpg?tr=w-900,q-75,pr-true,f-auto 900w, https://images.leafland.co.nz/images/home/aerial-view-of-leafland-nursery-full.jpg?tr=w-1200,q-75,pr-true,f-auto 1200w, https://images.leafland.co.nz/images/home/aerial-view-of-leafland-nursery-full.jpg?tr=w-1500,q-75,pr-true,f-auto 1500w" imagesizes="100vw"> {% endcomment %}
      <link rel="preload" as="image" href="https://images.leafland.co.nz/images/home/prunus-yedoensis-awanui-massey-university.jpg?tr=w-2000,q-75,pr-true,f-auto" imagesrcset="https://images.leafland.co.nz/images/home/prunus-yedoensis-awanui-massey-university.jpg?tr=w-600,q-75,pr-true,f-auto 600w, https://images.leafland.co.nz/images/home/prunus-yedoensis-awanui-massey-university.jpg?tr=w-900,q-75,pr-true,f-auto 900w, https://images.leafland.co.nz/images/home/prunus-yedoensis-awanui-massey-university.jpg?tr=w-1200,q-75,pr-true,f-auto 1200w, https://images.leafland.co.nz/images/home/prunus-yedoensis-awanui-massey-university.jpg?tr=w-1500,q-75,pr-true,f-auto 1500w" imagesizes="100vw">
      {% comment %} <link rel="preload" as="image" href="https://images.leafland.co.nz/images/home/leafland-truck-south-island.jpg?tr=w-2000,q-75,pr-true,f-auto" imagesrcset="https://images.leafland.co.nz/images/home/leafland-truck-south-island.jpg?tr=w-600,q-75,pr-true,f-auto 600w, https://images.leafland.co.nz/images/home/leafland-truck-south-island.jpg?tr=w-900,q-75,pr-true,f-auto 900w, https://images.leafland.co.nz/images/home/leafland-truck-south-island.jpg?tr=w-1200,q-75,pr-true,f-auto 1200w, https://images.leafland.co.nz/images/home/leafland-truck-south-island.jpg?tr=w-1500,q-75,pr-true,f-auto 1500w" imagesizes="100vw"> {% endcomment %}
    {% endif %}

    <style>
    {% if type == "product" %}

      {% include "components/css/main.min.css" %}
      {% include "components/css/login.min.css" %}
      {% include "components/css/menu.min.css" %}
      {% include "components/css/order.min.css" %}
      {% include "components/css/search.min.css" %}
      {% include "components/css/product.min.css" %}

    {% elsif type == "submit-order" %}
      {% include "components/css/main.min.css" %}
      {% include "components/css/login.min.css" %}
      {% include "components/css/menu.min.css" %}
      {% include "components/css/order.min.css" %}
      {% include "components/css/search.min.css" %}
      {% include "components/css/submit-order.min.css" %}

    {% elsif type == "tree-finder" %}
      {% include "components/css/main.min.css" %}
      {% include "components/css/login.min.css" %}
      {% include "components/css/menu.min.css" %}
      {% include "components/css/order.min.css" %}
      {% include "components/css/search.min.css" %}
      {% include "components/css/tree-finder.min.css" %}

    {% elsif type == 'index' %}
      {% include "components/css/main.min.css" %}
      {% include "components/css/login.min.css" %}
      {% include "components/css/menu.min.css" %}
      {% include "components/css/order.min.css" %}
      {% include "components/css/search.min.css" %}
      {% include "components/css/index.min.css" %}

    {% elsif type == 'page' %}
      {% include "components/css/main.min.css" %}
      {% include "components/css/login.min.css" %}
      {% include "components/css/menu.min.css" %}
      {% include "components/css/order.min.css" %}
      {% include "components/css/search.min.css" %}
      {% include "components/css/page.min.css" %}

    {% elsif type == 'top-trees' %}
      {% include "components/css/main.min.css" %}
      {% include "components/css/login.min.css" %}
      {% include "components/css/menu.min.css" %}
      {% include "components/css/order.min.css" %}
      {% include "components/css/search.min.css" %}
      {% include "components/css/top-trees.min.css" %}

    {% elsif type == 'retail' %}
      {% include "components/css/main.min.css" %}
      {% include "components/css/login.min.css" %}
      {% include "components/css/menu.min.css" %}
      {% include "components/css/order.min.css" %}
      {% include "components/css/search.min.css" %}
      {% include "components/css/stock-list.min.css" %}

    {% elsif type == 'wholesale' %}
      {% include "components/css/main.min.css" %}
      {% include "components/css/login.min.css" %}
      {% include "components/css/menu.min.css" %}
      {% include "components/css/order.min.css" %}
      {% include "components/css/search.min.css" %}
      {% include "components/css/stock-list.min.css" %}

    {% endif %}
    </style>

    {% if type == "product" %}

      {% include "components/head/_product.liquid"%}

    {% elsif type == "submit-order" %}
      {% include "components/head/_submit-order.liquid"%}

    {% elsif type == "tree-finder" %}
      {% include "components/head/_tree-finder.liquid"%}

    {% elsif type == 'index' %}
      {% include "components/head/_index.liquid"%}

    {% elsif type == 'page' %}
      {% include "components/head/_page.liquid"%}

    {% elsif type == 'top-trees' %}
      {% include "components/head/_top-trees.liquid"%}

    {% elsif type == 'retail' %}
      {% include "components/head/_retail-list.liquid"%}

    {% elsif type == 'wholesale' %}
      {% include "components/head/_wholesale-list.liquid"%}

    {% endif %}

    <link rel="shortcut icon" type="image/svg+xml" href="https://leafland.co.nz/public/assets/logo/leafland-favicon.svg">
    <link rel="alternate icon" type="image/png" href="https://leafland.co.nz/public/assets/logo/leafland-favicon.png">

    {% if type == 'product' %}

        <script type="application/ld+json">
          {
            "@context": "https://schema.org/", 
            "@type": "Product", 
            "name": "{% if commonName == "" %}{{ botanicalName | escape}}{% else %}{{ botanicalName | escape}} ({{ commonName | escape}}){% endif %}",
            "botanicalName": "{{ botanicalName | escape}}",
            {% unless commonName == "" %}"commonName": "{{ commonName | escape}}",{% endunless %}
            "image": "https://images.leafland.co.nz/images/trees/{{ mainImage }}?tr=w-1500,q-75,pr-true,f-auto",
            "description": "{{ description | escape}}",
            "url":"https://leafland.co.nz/trees/{{ url }}/",
            "height": "{{ height }}",
            "width": "{{ width }}",
            "winterFoliage": "{{ winterFoliage | capitalize }}",
            "origin": "{{ origin | capitalize }}",
            "uses": "{{ uses | replace: '-', ' ' | capitalize }}",
            "types": "{{ types | replace: '-', ' ' | capitalize }}",
            "soilType": "{{ soilType | replace: '-', ' ' | capitalize }}",
            "tolerates": "{{ tolerates | replace: '-', ' ' | capitalize }}",
            "sunShade": "{{ sunShade | replace: '-', ' ' | capitalize }}",
            "flowerColour": "{{ flowerColor | capitalize }}",
            "autumnColour": "{{ autumnColor | capitalize }}",
            "foliageColour": "{{ foliageColor | capitalize }}",
            "fruitingSeason": "{{ fruitingSeason | capitalize }}",
            "floweringSeason": "{{ floweringSeason | capitalize }}",
            "aggregateRating": {
              "@type": "AggregateRating",
              "ratingValue": "5",
              "reviewCount": "10"
            },
            "brand": {
              "@type": "Organization",
              "name": "Leafland"
            },
            "publisher": {
              "@type": "Organization",
              "name": "Leafland Limited",
              "logo": {
                "@type": "ImageObject",
                "url": "https://leafland.co.nz/public/assets/logo/leafland-logo.svg"
              }
            }
          }
        </script>

    {% else %}

      <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "WebPage",
            "name": "{{ title }}",
            "description": "{{description }}",
            "publisher": {
                "@type": "Organization",
                "name": "Leafland Limited",
                "logo": {
                    "@type": "ImageObject",
                    "url": "https://leafland.co.nz/public/assets/logo/leafland-logo.svg"
                }
            }
        }
      </script>
    {% endif %}

    <script defer data-domain="leafland.co.nz" src="https://plausible.io/js/plausible.js"></script>
    <script defer src="https://www.googletagmanager.com/gtag/js?id=UA-207729468-1"></script>
    <script defer src="/public/assets/analytics.min.js"></script>

  </head>

  <body>

    {% include "components/_header.liquid"%}

    <main>
      {{ content }}

      {% include "components/_footer.liquid"%}
    </main>

    {% include "components/_search.liquid"%}
    
    {% include "components/_login.liquid"%}

    {% include "components/_order.liquid"%}

    {% include "components/_main-menu.liquid"%}

    {% if type == 'product' %}

    {% include "components/_image-lightbox.liquid"%}

    {% endif %}

  </body>

</html>
