<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="{{ description | escape }}"/>

    {% if type == "index" %}
    
    <title>Leafland Tree Nursery | Buy Trees Online | Quality Specimen Trees</title>

    {% elsif type == "product"%}

      {% if tree.cultivar.size > 0 %}

            {% if tree.form.size > 0 %}

            <title>{{ tree.genus }} {{ tree.species }} f. {{ tree.form }} '{{ tree.cultivar }}' | {{ tree.commonName }} - Leafland Tree Nursery | Buy Trees Online | Quality Specimen Trees</title>

            {% elsif tree.variety.size > 0 %}

            <title>{{ tree.genus }} {{ tree.species }} var. {{ tree.variety }} '{{ tree.cultivar }}' | {{ tree.commonName }} - Leafland Tree Nursery | Buy Trees Online | Quality Specimen Trees</title>

            {% elsif tree.subspecies.size > 0 %}

            <title>{{ tree.genus }} {{ tree.species }} subsp. {{ tree.subspecies }} '{{ tree.cultivar }}' | {{ tree.commonName }} - Leafland Tree Nursery | Buy Trees Online | Quality Specimen Trees</title>

            {% elsif tree.hybrid.size > 0 %}

            {% if tree.hybrid contains ' x ' %}

            <title>{{ tree.genus }} {{ tree.hybrid }} '{{ tree.cultivar }}' | {{ tree.commonName }} - Leafland Tree Nursery | Buy Trees Online | Quality Specimen Trees</title>

            {% else %}

            <title>{{ tree.genus }} x {{ tree.hybrid }} '{{ tree.cultivar }}' | {{ tree.commonName }} - Leafland Tree Nursery | Buy Trees Online | Quality Specimen Trees</title>

            {% endif %}

            {% else %}

              {% if tree.species.size > 0 %}

              <title>{{ tree.genus }} {{ tree.species }} '{{ tree.cultivar }}' | {{ tree.commonName }} - Leafland Tree Nursery | Buy Trees Online | Quality Specimen Trees</title>


              {% else %}

              <title>{{ tree.genus }} '{{ tree.cultivar }}' | {{ tree.commonName }} - Leafland Tree Nursery | Buy Trees Online | Quality Specimen Trees</title>

              {% endif %}

            {% endif %}

        {% elsif tree.form.size > 0 %}

        <title>{{ tree.genus }} {{ tree.species }} f. {{ tree.form }} | {{ tree.commonName }} - Leafland Tree Nursery | Buy Trees Online | Quality Specimen Trees</title>

        {% elsif tree.variety.size > 0 %}

        <title>{{ tree.genus }} {{ tree.species }} var. {{ tree.variety }} | {{ tree.commonName }} - Leafland Tree Nursery | Buy Trees Online | Quality Specimen Trees</title>

        {% elsif tree.subspecies.size > 0 %}

        <title>{{ tree.genus }} {{ tree.species }} subsp. {{ tree.subspecies }} | {{ tree.commonName }} - Leafland Tree Nursery | Buy Trees Online | Quality Specimen Trees</title>

        {% elsif tree.hybrid.size > 0 %}

        {% if tree.hybrid contains ' x ' %}

        <title>{{ tree.genus }} {{ tree.hybrid }} | {{ tree.commonName }} - Leafland Tree Nursery | Buy Trees Online | Quality Specimen Trees</title>

        {% else %}

        <title>{{ tree.genus }} x {{ tree.hybrid }} | {{ tree.commonName }} - Leafland Tree Nursery | Buy Trees Online | Quality Specimen Trees</title>

        {% endif %}

        {% else %}

        <title>{{ tree.genus }} {{ tree.species }} | {{ tree.commonName }} - Leafland Tree Nursery | Buy Trees Online | Quality Specimen Trees</title>

      {% endif %}

    {% else %}
    
    <title>{{ title }} - Leafland Tree Nursery | Buy Trees Online | Quality Specimen Trees</title>

    {% endif %}

    {% comment %} <link rel='preconnect' href="https://bat.bing.com">
    <link rel='dns-prefetch' href="https://bat.bing.com">
    <link rel='preconnect' href="https://www.google-analytics.com">
    <link rel='dns-prefetch' href="https://www.google-analytics.com"> {% endcomment %}

    <link rel='preconnect' href="https://leafland.imgix.net">
    <link rel='dns-prefetch' href="https://leafland.imgix.net">


    {% if type == 'product' %}
      <link rel="preload" as="image" href="https://leafland.imgix.net/images/trees/{{ mainImage }}?auto=format&w=500&q=75">
    {% elsif type == 'tree-finder' %}
      {% for tree in trees %}
        {% if forloop.index0 < 3 %}
          <link rel="preload" as="image" href="https://leafland.imgix.net/images/trees/{{ tree.mainImage }}?auto=format&w=400&q=75">
        {% else %}
          {% break %}
        {% endif %}
      {% endfor %}
    {% elsif type == 'index' %}

      <link rel="preload" as="image" href="https://leafland.imgix.net/images/home/prunus-yedoensis-awanui-massey-university.jpg?auto=format&w=2000,q-75,pr-true,f-auto" imagesrcset="https://leafland.imgix.net/images/home/prunus-yedoensis-awanui-massey-university.jpg?auto=format&w=600&q=75 600w, https://leafland.imgix.net/images/home/prunus-yedoensis-awanui-massey-university.jpg?auto=format&w=900&q=75 900w, https://leafland.imgix.net/images/home/prunus-yedoensis-awanui-massey-university.jpg?auto=format&w=1200&q=75 1200w, https://leafland.imgix.net/images/home/prunus-yedoensis-awanui-massey-university.jpg?auto=format&w=1500&q=75 1500w" imagesizes="100vw">

    {% endif %}

    <style>
    {% if type == "product" %}

      {% include "components/css/main.min.css" %}
      {% include "components/css/login.min.css" %}
      {% include "components/css/menu.min.css" %}
      {% include "components/css/order.min.css" %}
      {% include "components/css/search.min.css" %}
      {% include "components/css/stock-table.min.css" %}
      {% include "components/css/product.min.css" %}

    {% elsif type == "submit-order" %}
      {% include "components/css/main.min.css" %}
      {% include "components/css/login.min.css" %}
      {% include "components/css/menu.min.css" %}
      {% include "components/css/order.min.css" %}
      {% include "components/css/search.min.css" %}
      {% include "components/css/submit-order.min.css" %}

    {% elsif type == "tree-finder" %}
      {% include "components/css/main.min.css" %}
      {% include "components/css/login.min.css" %}
      {% include "components/css/menu.min.css" %}
      {% include "components/css/order.min.css" %}
      {% include "components/css/search.min.css" %}
      {% include "components/css/tree-finder.min.css" %}

    {% elsif type == 'index' %}
      {% include "components/css/main.min.css" %}
      {% include "components/css/login.min.css" %}
      {% include "components/css/menu.min.css" %}
      {% include "components/css/order.min.css" %}
      {% include "components/css/search.min.css" %}
      {% include "components/css/index.min.css" %}

    {% elsif type == 'page' %}
      {% include "components/css/main.min.css" %}
      {% include "components/css/login.min.css" %}
      {% include "components/css/menu.min.css" %}
      {% include "components/css/order.min.css" %}
      {% include "components/css/search.min.css" %}
      {% include "components/css/page.min.css" %}

    {% elsif type == 'top-trees' %}
      {% include "components/css/main.min.css" %}
      {% include "components/css/login.min.css" %}
      {% include "components/css/menu.min.css" %}
      {% include "components/css/order.min.css" %}
      {% include "components/css/search.min.css" %}
      {% include "components/css/top-trees.min.css" %}

    {% elsif type == 'stock-list' %}
      {% include "components/css/main.min.css" %}
      {% include "components/css/login.min.css" %}
      {% include "components/css/menu.min.css" %}
      {% include "components/css/order.min.css" %}
      {% include "components/css/search.min.css" %}
      {% include "components/css/stock-list.min.css" %}

    {% endif %}
    </style>

    {% if type == "product" %}

      {% include "components/head/_product.liquid"%}

    {% elsif type == "submit-order" %}
      {% include "components/head/_submit-order.liquid"%}

    {% elsif type == "tree-finder" %}
      {% include "components/head/_tree-finder.liquid"%}

    {% elsif type == 'index' %}
      {% include "components/head/_index.liquid"%}

    {% elsif type == 'page' %}
      {% include "components/head/_page.liquid"%}

    {% elsif type == 'top-trees' %}
      {% include "components/head/_top-trees.liquid"%}

    {% elsif type == 'stock-list' %}
      {% include "components/head/_stock-list.liquid"%}

    {% endif %}

    <link rel="shortcut icon" type="image/svg+xml" href="https://leafland.co.nz/public/assets/logo/leafland-favicon.svg">
    <link rel="alternate icon" type="image/png" href="https://leafland.co.nz/public/assets/logo/leafland-favicon.png">

    {% if type == 'product' %}

        <script type="application/ld+json">
          {
            "@context": "https://schema.org/",
            "@type": "Product",
            {% if tree.cultivar.size > 0 %}

              {% if tree.form.size > 0 %}

              "name": "{{ tree.genus }} {{ tree.species }} f. {{ tree.form }} '{{ tree.cultivar }}' | {{ tree.commonName }}",

              {% elsif tree.variety.size > 0 %}

              "name": "{{ tree.genus }} {{ tree.species }} var. {{ tree.variety }} '{{ tree.cultivar }}' | {{ tree.commonName }}",

              {% elsif tree.subspecies.size > 0 %}

              "name": "{{ tree.genus }} {{ tree.species }} subsp. {{ tree.subspecies }} '{{ tree.cultivar }}' | {{ tree.commonName }}",
              {% elsif tree.hybrid.size > 0 %}

              {% if tree.hybrid contains ' x ' %}

              "name": "{{ tree.genus }} {{ tree.hybrid }} '{{ tree.cultivar }}' | {{ tree.commonName }}",

              {% else %}

              "name": "{{ tree.genus }} x {{ tree.hybrid }} '{{ tree.cultivar }}' | {{ tree.commonName }}",

              {% endif %}

              {% else %}

                {% if tree.species.size > 0 %}

                "name": "{{ tree.genus }} {{ tree.species }} '{{ tree.cultivar }}' | {{ tree.commonName }}",

                {% else %}

                "name": "{{ tree.genus }} '{{ tree.cultivar }}' | {{ tree.commonName }}",
                {% endif %}

              {% endif %}

            {% elsif tree.form.size > 0 %}

            "name": "{{ tree.genus }} {{ tree.species }} f. {{ tree.form }} | {{ tree.commonName }}",

            {% elsif tree.variety.size > 0 %}

            "name": "{{ tree.genus }} {{ tree.species }} var. {{ tree.variety }}  | {{ tree.commonName }}",

            {% elsif tree.subspecies.size > 0 %}

            "name": "{{ tree.genus }} {{ tree.species }} subsp. {{ tree.subspecies }} | {{ tree.commonName }}",

            {% elsif tree.hybrid.size > 0 %}

            {% if tree.hybrid contains ' x ' %}

            "name": "{{ tree.genus }} {{ tree.hybrid }} | {{ tree.commonName }}",

            {% else %}

            "name": "{{ tree.genus }} x {{ tree.hybrid }} | {{ tree.commonName }}",

            {% endif %}

            {% else %}

            "name": "{{ tree.genus }} {{ tree.species }} | {{ tree.commonName }}",

          {% endif %}

            "image": "https://leafland.imgix.net/images/trees/{{ mainImage }}?auto=format&w=1500&q=75",
            "description": "{{ description | escape}}",
            "url":"https://leafland.co.nz/trees/{{ url }}/",
            "brand": {
              "@type": "Organization",
              "name": "Leafland"
            },
            "publisher": {
              "@type": "Organization",
              "name": "Leafland Limited",
              "logo": {
                "@type": "ImageObject",
                "url": "https://leafland.co.nz/public/assets/logo/leafland-logo.svg"
              }
            }
          }
        </script>

    {% else %}

      <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "WebPage",
            "name": "{{ title }}",
            "description": "{{description }}",
            "publisher": {
                "@type": "Organization",
                "name": "Leafland Limited",
                "logo": {
                    "@type": "ImageObject",
                    "url": "https://leafland.co.nz/public/assets/logo/leafland-logo.svg"
                }
            }
        }
      </script>
    {% endif %}

  </head>

  <body>

    {% include "components/_header.liquid"%}

    <main>
      {{ content }}

      {% include "components/_footer.liquid"%}
    </main>

    {% include "components/_search.liquid"%}
    
    {% include "components/_login.liquid"%}

    {% include "components/_order.liquid"%}

    {% include "components/_main-menu.liquid"%}

    {% if type == 'product' %}

    {% include "components/_image-lightbox.liquid"%}

    {% include "components/_stock-table.liquid"%}

    {% endif %}


    {% comment %} <script async src="https://www.googletagmanager.com/gtag/js?id=UA-207729468-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-207729468-1");
    </script>

    <script>
      (function (w, d, t, r, u) {
        var f, n, i;
        (w[u] = w[u] || []),
          (f = function () {
            var o = { ti: "148003737" };
            (o.q = w[u]), (w[u] = new UET(o)), w[u].push("pageLoad");
          }),
          (n = d.createElement(t)),
          (n.src = r),
          (n.async = 1),
          (n.onload = n.onreadystatechange =
            function () {
              var s = this.readyState;
              (s && s !== "loaded" && s !== "complete") ||
                (f(), (n.onload = n.onreadystatechange = null));
            }),
          (i = d.getElementsByTagName(t)[0]),
          i.parentNode.insertBefore(n, i);
      })(window, document, "script", "//bat.bing.com/bat.js", "uetq");
    </script> {% endcomment %}

  </body>

</html>
