<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="shortcut icon" type="image/svg+xml" href="https://leafland.co.nz/public/assets/logo/leafland-favicon.svg">
    <link rel="alternate icon" type="image/png" href="https://leafland.co.nz/public/assets/logo/leafland-favicon.png">

    <link rel="preload" href="/public/assets/fonts/Inter-Bold.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/public/assets/fonts/Inter-Regular.woff2" as="font" type="font/woff2" crossorigin>

    {% if type == 'product' %}
    <link rel="preload" as="image" href="https://images.leafland.co.nz/images/trees/{{ image }}?tr:w-1000,q-75,pr-true,f-auto">
    {% endif %}

    <meta name="description" content="{{ description | escape }}"/>

    <link rel='preconnect' href="https://images.leafland.co.nz">
    <link rel='dns-prefetch' href="https://images.leafland.co.nz">
    <link rel='preconnect' href="https://files.leafland.co.nz">
    <link rel='dns-prefetch' href="https://files.leafland.co.nz">
    <link rel='preconnect' href="https://api.leafland.co.nz">
    <link rel='dns-prefetch' href="https://api.leafland.co.nz">

    <script defer data-domain="leafland.co.nz" src="https://plausible.io/js/plausible.js"></script>

    <style>
      #search-overlay, #login-overlay, #main-menu-overlay, #order-overlay{
        opacity: 0;
        z-index: -9999;
      }

      .dropdown-sub-menu{
        opacity: 0
      }

      #view{
        opacity:1
      }

      {% if type == 'product' %}
        #image-lightbox{
          opacity: 0;
          position: fixed;
          z-index: -1;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
          visibility: hidden;
        }
      {% endif %}
    </style>

    {% if type == "product" %}
      {% include "components/head/_product.njk"%}

    {% elsif type == "submit-order" %}
      {% include "components/head/_submit-order.njk"%}

    {% elsif type == "tree-finder" %}
      {% include "components/head/_tree-finder.njk"%}

    {% elsif type == 'index' %}
      {% include "components/head/_index.njk"%}

    {% elsif type == 'page' %}
      {% include "components/head/_page.njk"%}

    {% elsif type == 'top-trees' %}
      {% include "components/head/_top-trees.njk"%}

    {% elsif type == 'retail' %}
      {% include "components/head/_retail-list.njk"%}

    {% elsif type == 'wholesale' %}
      {% include "components/head/_wholesale-list.njk"%}

    {% endif %}

    <title>
      {% if type == "index" %}Leafland Tree Nursery | Buy Trees Online | Quality Specimen Trees
      {% elsif type == "product" and commonName == ""%}{{ botanicalName }} - Leafland Tree Nursery | Buy Trees Online | Quality Specimen Trees
      {% elsif type == "product"%}{{ botanicalName }} ({{ commonName }}) - Leafland Tree Nursery | Buy Trees Online | Quality Specimen Trees
      {% else %}{{ title }} - Leafland Tree Nursery | Buy Trees Online | Quality Specimen Trees
      {% endif %}
    </title>

    {% if type == 'product' %}

      

        <script type="application/ld+json">
          {
            "@context": "https://schema.org/", 
            "@type": "Product", 
            "name": "{% if commonName == "" %}{{ botanicalName | escape}}{% else %}{{ botanicalName | escape}} ({{ commonName | escape}}){% endif %}",
            "botanicalName": "{{ botanicalName | escape}}",
            {% unless commonName == "" %}"commonName": "{{ commonName | escape}}",{% endunless %}
            "image": "{{ image }}",
            "description": "{{ description | escape}}",
            "url":"https://leafland.co.nz/trees/{{ url }}/",
            "height": "{{ height }}",
            "width": "{{ width }}",
            "winterFoliage": "{{ winterFoliage | capitalize }}",
            "origin": "{{ origin | capitalize }}",
            "uses": "{{ uses | replace: '-', ' ' | capitalize }}",
            "types": "{{ types | replace: '-', ' ' | capitalize }}",
            "soilType": "{{ soilType | replace: '-', ' ' | capitalize }}",
            "tolerates": "{{ tolerates | replace: '-', ' ' | capitalize }}",
            "sunShade": "{{ sunShade | replace: '-', ' ' | capitalize }}",
            "flowerColour": "{{ flowerColor | capitalize }}",
            "autumnColour": "{{ autumnColor | capitalize }}",
            "foliageColour": "{{ foliageColor | capitalize }}",
            "fruitingSeason": "{{ fruitingSeason | capitalize }}",
            "floweringSeason": "{{ floweringSeason | capitalize }}",
            "aggregateRating": {
              "@type": "AggregateRating",
              "ratingValue": "5",
              "reviewCount": "10"
            },
            "brand": {
              "@type": "Organization",
              "name": "Leafland"
            },
            "publisher": {
              "@type": "Organization",
              "name": "Leafland Limited",
              "logo": {
                "@type": "ImageObject",
                "url": "https://leafland.co.nz/public/assets/logo/leafland-logo.svg"
              }
            }
          }
        </script>

    {% else %}

      <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "WebPage",
            "name": "{{ title }}",
            "description": "{{description }}",
            "publisher": {
                "@type": "Organization",
                "name": "Leafland Limited",
                "logo": {
                    "@type": "ImageObject",
                    "url": "https://leafland.co.nz/public/assets/logo/leafland-logo.svg"
                }
            }
        }
      </script>
    {% endif %}

  </head>

  <body {% if type == "top-trees" %} data-id="{{ id }}" {% endif %}>

    <div id="view">

      {% include "components/_header.njk"%}

      <main>
        {{ content }}

        {% include "components/_footer.njk"%}
      </main>

    </div>

    <div id="search-overlay">

      <button id="close-search">Close</button>

      <div id="search-inner">

        <div id="search-section">

          <input type="text" id="search" placeholder="Search trees..." />

        </div>

        <div id="search-results">
        
          <div id="search-results-inner"></div>

          <div id="search-load-more-div">

            <button id='search-load-more'>Load more</button>
            <button id='search-return-to-top'>Return to top</button>

          </div>
        
        </div>
        
      </div>

    </div>

    <div id="login-overlay">

      <button id="close-login">Close</button>

      <div id='login-inner'>

        <div id="login-form-container">

          <h3 id="login-message">You are logged in.</h3>

          <button id="log-out">Log out</button>

          <form id='login-form'>

          <label>Email</label>
          
          <div class="form-inputs">
            <input type='email' name='email' />
            <input type='submit' value="Log in" id="log-in">
          </div>
          
          </form>

          <p id="return-message"></p>

          <p>This login is for wholesale customers only. If you have an account, submit your email above and you will be emailed a login link. If you are a wholesale customer and do not have an acccount please get in touch with us.</p>

        </div>

      </div>

    </div>


    {% include "components/_order.njk"%}

    {% include "components/_main-menu.njk"%}

    {% if type == 'product' %}

    <div id="image-lightbox">

      <button id="image-lightbox-close">Close</button>

      <div id="image-lightbox-div"></div>

    </div>

    {% endif %}

  </body>

</html>
