---
layout: layouts/base.liquid
type: product
---

<div id="content">

    <div id="tree-name-block">
        <h1 class="tree-botanical-name">{{ botanicalName }}</h1>

        {% if commonName != '' %}
        <h2 class="tree-common-name accent-color">{{ commonName }}</h2>
        {% else %}
        <h2 class="tree-common-name accent-color" style="display:none"></h2>
        {% endif %}
    </div>

    <div id="grid-content">

        <div id="grid-content-left">

            <div id="main-image">

                <button id="image-left-button">

                    <img src="https://images.leafland.co.nz/images/icons/interface/left.svg" class="left-icon" width="40" height="40">

                </button>

                <button id="image-right-button">

                    <img src="https://images.leafland.co.nz/images/icons/interface/right.svg" class="right-icon" width="40" height="40">

                </button>
            
                <div id="main-image-inner">
                
                    <img src="https://images.leafland.co.nz/images/trees/{{ mainImage }}?tr=w-500,q-75,pr-true,f-auto" height="500" width="500" alt="{{ url | replace: '-', ' ' }}" loading="eager" class="main-img" style="opacity: 1;">
                
                </div>
            
            </div>

            <div class="images">

                <div class="image">

                    <img data-position="{% increment position %}" class="thumb-image" src="https://images.leafland.co.nz/images/trees/{{ mainImage }}?tr=w-75,q-75,pr-true,f-auto" width="50" height="50" alt="{{ url | replace: '-', ' ' }}">

                </div>

                {% for image in tree.images %}
                
                <div class="image">

                    <img data-position="{% increment position %}" class="thumb-image" src="https://images.leafland.co.nz/{{ image.src }}?tr=w-75,q-75,pr-true,f-auto" width="50" height="50" alt="{{ image.alt }}" >
                    
                </div>

                {% endfor %}

            </div>

        </div>

        <div id="grid-content-right">

            <div id="order-block">

                <h3 id="grade-sizes-heading">Add to order</h3>

                <div id="grade-sizes">

                    <div id="grade-select">

                        <div>
                            <label for="grade-size">Grade Size</label>
                            <select name="grade-size" id="grade-size-select">

                                <option selected disabled hidden>Select grade</option>
                            
                            </select>
                        </div>

                        <div>
                            <label for="height">Average height</label>
                            <select disabled name="height" id="height-select">
                            
                                <option selected disabled hidden>Select height</option>
                            
                            </select>
                        </div>

                        <div>
                            <label for="standard-height">Standard height</label>
                            <select disabled name="standard-height" id="standard-height-select">
                            
                                <option selected disabled hidden>Select height</option>
                            
                            </select>
                        </div>

                        <div>
                            <label for="quantity">Quantity</label>
                            <input disabled name="quantity" type="number" id="quantity" value="1" min="1" max="9999" inputmode="numeric">


                        </div>

                        <button disabled id="add-product">Add to order</button>

                    </div>

                    <div id="stock-values">

                        <p>

                            <span class="stock-value-title">Quantity in stock:</span> <span class="info-pill" id="quantity-field">0</span>
                        
                        </p>
                        
                        <p>
                        
                            <span class="stock-value-title">Price per tree:</span> <span id="wholesale-price" class="info-pill">$0.00+GST (Wholesale)</span> <span id="retail-price" class="info-pill">$0.00+GST (Retail)</span>
                        
                        </p>
                    
                    
                    </div>

                </div>

                <p id="coming-on">Grades coming on: <span id="coming-on-field" class="info-pill">None</span></p>

                <div id="details-section">

                    <details>

                        <summary>
                        
                            <span>Definitions</span>

                            <img src="https://images.leafland.co.nz/images/icons/interface/right.svg" class="right-icon" width="25" height="25">
                            <img src="https://images.leafland.co.nz/images/icons/interface/down.svg" class="down-icon" width="25" height="25">
                            
                        </summary>

                        <p>The <b>grade size</b> is the size of the bag/pot the tree is in. This is measured in either litres or pints per bag.</p>

                        <p>The <b>average height</b> is the overall height of the tree from the top of the pot/bag (bottom of the trunk) to the top of the tree, averaged across the trees we have in this grade.</p>

                        <p>The <b>standard height</b> is the height of the clear trunk from the bottom of the trunk to the graft or the first branch (if it is not grafted). If you don't want a standard tree, select 'None' as the standard height.</p>

                        <p>Grades that are <b>coming on</b> are not yet ready for sale. You can place a pre-order for a 50% deposit and we will hold the stock until it is ready. Enquire if interested.</p>

                    </details>

                    <details>

                        <summary>
                        
                            <span>Disclaimer</span>

                            <img src="https://images.leafland.co.nz/images/icons/interface/right.svg" class="right-icon" width="25" height="25">
                            <img src="https://images.leafland.co.nz/images/icons/interface/down.svg" class="down-icon" width="25" height="25">
                        
                        </summary>

                        <p>Photos are for reference only and do not necessarily reflect the final product delivered. Prices subject to change without notice. Actual stock quantity may differ. Heights are given in good faith but we give no guarantee as to the height of the final product. If you would like a current photo of any of the grades, please get in touch.</p>

                    </details>

                </div>

            </div>

        </div>

        <div id="tree-info">

            <div id="tree-info-left">

                {% if commonName != '' %}
                <h3 id="tree-info-heading">{{ botanicalName }} ({{ commonName }})</h3>
                {% else %}
                <h3 id="tree-info-heading">{{ botanicalName }}</h3>
                {% endif %}

                <p class="tree-description">{{ description }}</p>

                <div id="color-section">

                    {% if foliageColor != "" and foliageColor.length > 0 %}

                        <div class="color-div">

                            <p class="bold-up">Foliage Colour</p>

                            <div class="color-spans">

                                {% assign foliageArray = foliageColor | split: ', '%}

                                {% for color in foliageArray %}

                                    <span class="tree-color {{color}}"></span>

                                {% endfor %}

                            </div>

                        </div>

                    {% endif %}

                    {% if autumnColor != "" and autumnColor.length > 0 %}

                        <div class="color-div">

                                <p class="bold-up">Autumn Colour</p>

                                <div class="color-spans">

                                    {% assign autumnArray = autumnColor | split: ', '%}

                                    {% for color in autumnArray %}

                                        <span class="tree-color {{color}}"></span>

                                    {% endfor %}

                                </div>

                        </div>

                    {% endif %}

                    {% if flowerColor != "" and flowerColor.length > 0 %}

                        <div class="color-div">

                                <p class="bold-up">Flower Colour</p>

                                <div class="color-spans">

                                    {% assign flowerArray = flowerColor | split: ', '%}

                                    {% for color in flowerArray %}

                                        <span class="tree-color {{color}}"></span>

                                    {% endfor %}

                                </div>

                        </div>

                    {% endif %}

                    {% if fruitingSeason != "" and fruitingSeason.length > 0 %}

                        <div class="season-div">

                                <p class="bold-up">Fruiting Season</p>

                                {% assign fruitingArray = fruitingSeason | split: ', '%}

                                {% for item in fruitingArray %}

                                    <span class="info-pill">{{item | capitalize}}</span>

                                {% endfor %}

                        </div>

                    {% endif %}

                    {% if floweringSeason != "" and floweringSeason.length > 0 %}

                        <div class="season-div">

                                <p class="bold-up">Flowering Season</p>

                                {% assign floweringArray = floweringSeason | split: ', '%}

                                {% for item in floweringArray %}

                                    <span class="info-pill">{{item | capitalize}}</span>

                                {% endfor %}

                        </div>

                    {% endif %}
                
                </div>

                <div id="tree-icons">

                    {% if origin != "" and origin.length > 0 %}

                        <div class="icon-div">
                        
                            <img class="tree-icon" src="https://images.leafland.co.nz/images/icons/tree-attributes/{{ origin }}.svg" width="40" height="40" alt="{{ origin }} tree">
                            <span class="tooltip">{{ origin | capitalize }}</span>
                        
                        </div>

                    {% endif %}

                    {% if winterFoliage != "" and winterFoliage.length > 0 %}

                        <div class="icon-div">
                        
                            <img class="tree-icon" src="https://images.leafland.co.nz/images/icons/tree-attributes/{{ winterFoliage }}.svg" width="40" height="40" alt="{{ winterFoliage }} tree">
                            <span class="tooltip">{{ winterFoliage | capitalize }}</span>
                        
                        </div>

                    {% endif %}

                    {% if types != "" and types.length > 0 %}

                        {% assign typesArray = types | split: ', ' %}

                        {% for item in typesArray %}

                            <div class="icon-div">
                            
                                <img class="tree-icon" src="https://images.leafland.co.nz/images/icons/tree-attributes/{{ item }}.svg" width="40" height="40" alt="{{ item | replace: '-', ' ' }} tree">
                                <span class="tooltip">{{ item | replace: '-', ' ' | capitalize }}</span>
                            
                            </div>

                        {% endfor %}

                    {% endif %}

                    {% if tolerates != "" and tolerates.length > 0 %}

                        {% assign toleratesArray = tolerates | split: ', ' %}

                        {% for item in toleratesArray %}

                            {% if item == 'drought' or item == 'heavy-rainfall' or item == 'light-frosts' or item == 'heavy-frosts' %}

                                <div class="icon-div">
                                
                                    <img class="tree-icon" src="https://images.leafland.co.nz/images/icons/tree-attributes/{{ item }}.svg" width="40" height="40" alt="tolerates {{ item | replace: '-', ' ' }}">
                                    <span class="tooltip">Tolerates {{ item | replace: '-', ' ' }}</span>
                                
                                </div>

                            {% else %}

                                <div class="icon-div">
                                
                                    <img class="tree-icon" src="https://images.leafland.co.nz/images/icons/tree-attributes/{{ item }}.svg" width="40" height="40" alt="tolerates {{ item | replace: '-', ' ' }} sites">
                                    <span class="tooltip">Tolerates {{ item | replace: '-', ' ' }} sites</span>
                                
                                </div>

                            {% endif %}

                        {% endfor %}

                    {% endif %}

                    {% if soilType != "" and soilType.length > 0 %}

                        {% assign soilArray = soilType | split: ', ' %}

                        {% for item in soilArray %}

                            <div class="icon-div">
                            
                                <img class="tree-icon" src="https://images.leafland.co.nz/images/icons/tree-attributes/{{ item }}.svg" width="40" height="40" alt="{{ item | replace: '-', ' ' }}">
                                <span class="tooltip">{{ item | replace: '-', ' ' | capitalize }}</span>
                            
                            </div>

                        {% endfor %}

                    {% endif %}

                    {% if sunShade != "" and sunShade.length > 0 %}

                        {% assign sunArray = sunShade | split: ', ' %}

                        {% for item in sunArray %}

                            <div class="icon-div">
                            
                                <img class="tree-icon" src="https://images.leafland.co.nz/images/icons/tree-attributes/{{ item }}.svg" width="40" height="40" alt="{{ item | replace: '-', ' '}}">
                                <span class="tooltip">{{ item | replace: '-', ' ' | capitalize }}</span>
                            
                            </div>

                        {% endfor %}

                    {% endif %}

                    {% if uses != "" and uses.length > 0 %}

                        {% assign usesArray = uses | split: ', ' %}

                        {% for item in usesArray %}

                            {% if item contains '-' %}

                                <div class="icon-div">
                                
                                    <img class="tree-icon" src="https://images.leafland.co.nz/images/icons/tree-attributes/{{ item }}.svg" width="40" height="40" alt="{{ item | replace: '-', ' ' }}">
                                    <span class="tooltip">{{ item | replace: '-', ' ' | capitalize }}</span>
                                
                                </div>

                            {% else %}

                                <div class="icon-div">
                                
                                    <img class="tree-icon" src="https://images.leafland.co.nz/images/icons/tree-attributes/{{ item }}.svg" width="40" height="40" alt="{{ item }}">
                                    <span class="tooltip">{{ item | capitalize }}</span>
                                
                                </div>

                            {% endif %}

                        {% endfor %}

                    {% endif %}

                </div>

            </div>

            <div id="tree-info-right">

                <div id="tree-shape">

                    <p class="paragraph-title">10 Year Size</p>

                    <img id="tree-shape-image" src="https://images.leafland.co.nz/{{ treeShape }}" width="300" height="300" alt="tree shape">
                    
                    <div id="height-div">
                        <span class="arrow" id="arrow-up">↑</span>
                        <span id="height-span">{{tree.height}}</span>
                        <span class="arrow" id="arrow-down">↓</span>
                    </div>

                    <div id="width-div">
                        <span class="arrow" id="arrow-left">←</span>
                        <span id="width-span">{{tree.width}}</span>
                        <span class="arrow" id="arrow-right">→</span>
                    </div>

                </div>

            </div>

        </div>

    </div>

    <button id="show-tree-information-table">Show information table</button>

    <div id="tree-information-table" style="display:none">

            <div>

                <p><span class="tree-information-table-heading">Botanical Name:</span> {{ botanicalName }}</p>

            </div>

            <div>

                <p><span class="tree-information-table-heading">Common Name:</span> {{ commonName }}</p>

            </div>

            <div>

                <p><span class="tree-information-table-heading">Description:</span> {{ description }}</p>

            </div>

            <div>

                {% if height != "" and height.length > 0 %}

                {% assign newString = "" %}

                {% assign newArray = height | split: ', ' %}

                {% for item in newArray %}

                {% assign newItem = item | replace: "-", " " | capitalize %}

                {% if newString == "" %}

                {% assign newString = newString | append: newItem %}

                {% else %}

                {% assign newString = newString | append: ", " | append: newItem %}

                {% endif %}

                {% endfor %}

                <p><span class="tree-information-table-heading">Height:</span> {{ newString }}</p>

                {% else %}

                <p><span class="tree-information-table-heading">Height:</span> {{ height }}</p>

                {% endif %}

            </div>

            <div>

                {% if width != "" and width.length > 0 %}

                {% assign newString = "" %}

                {% assign newArray = width | split: ', ' %}

                {% for item in newArray %}

                {% assign newItem = item | replace: "-", " " | capitalize %}

                {% if newString == "" %}

                {% assign newString = newString | append: newItem %}

                {% else %}

                {% assign newString = newString | append: ", " | append: newItem %}

                {% endif %}

                {% endfor %}

                <p><span class="tree-information-table-heading">Width:</span> {{ newString }}</p>

                {% else %}

                <p><span class="tree-information-table-heading">Width:</span> {{ width }}</p>

                {% endif %}

            </div>

            <div>

                {% if uses != "" and uses.length > 0 %}

                {% assign newString = "" %}

                {% assign newArray = uses | split: ', ' %}

                {% for item in newArray %}

                {% assign newItem = item | replace: "-", " " | capitalize %}

                {% if newString == "" %}

                {% assign newString = newString | append: newItem %}

                {% else %}

                {% assign newString = newString | append: ", " | append: newItem %}

                {% endif %}

                {% endfor %}

                <p><span class="tree-information-table-heading">Uses:</span> {{ newString }}</p>

                {% else %}

                <p><span class="tree-information-table-heading">Uses:</span> {{ uses }}</p>

                {% endif %}

            </div>

            <div>

                {% if tolerates != "" and tolerates.length > 0 %}

                {% assign newString = "" %}

                {% assign newArray = tolerates | split: ', ' %}

                {% for item in newArray %}

                {% assign newItem = item | replace: "-", " " | capitalize %}

                {% if newString == "" %}

                {% assign newString = newString | append: newItem %}

                {% else %}

                {% assign newString = newString | append: ", " | append: newItem %}

                {% endif %}

                {% endfor %}

                <p><span class="tree-information-table-heading">Tolerates:</span> {{ newString }}</p>

                {% else %}

                <p><span class="tree-information-table-heading">Tolerates:</span> {{ tolerates }}</p>

                {% endif %}

            </div>

            <div>

                {% if soilType != "" and soilType.length > 0 %}

                {% assign newString = "" %}

                {% assign newArray = soilType | split: ', ' %}

                {% for item in newArray %}

                {% assign newItem = item | replace: "-", " " | capitalize %}

                {% if newString == "" %}

                {% assign newString = newString | append: newItem %}

                {% else %}

                {% assign newString = newString | append: ", " | append: newItem %}

                {% endif %}

                {% endfor %}

                <p><span class="tree-information-table-heading">Soil Type:</span> {{ newString }}</p>

                {% else %}

                <p><span class="tree-information-table-heading">Soil Type:</span> {{ soilType }}</p>

                {% endif %}

            </div>

            <div>

                {% if sunShade != "" and sunShade.length > 0 %}

                {% assign newString = "" %}

                {% assign newArray = sunShade | split: ', ' %}

                {% for item in newArray %}

                {% assign newItem = item | replace: "-", " " | capitalize %}

                {% if newString == "" %}

                {% assign newString = newString | append: newItem %}

                {% else %}

                {% assign newString = newString | append: ", " | append: newItem %}

                {% endif %}

                {% endfor %}

                <p><span class="tree-information-table-heading">Sun and Shade:</span> {{ newString }}</p>

                {% else %}

                <p><span class="tree-information-table-heading">Sun and Shade:</span> {{ sunShade }}</p>

                {% endif %}

            </div>

            <div>

                {% if winterFoliage != "" and winterFoliage.length > 0 %}

                {% assign newString = "" %}

                {% assign newArray = winterFoliage | split: ', ' %}

                {% for item in newArray %}

                {% assign newItem = item | replace: "-", " " | capitalize %}

                {% if newString == "" %}

                {% assign newString = newString | append: newItem %}

                {% else %}

                {% assign newString = newString | append: ", " | append: newItem %}

                {% endif %}

                {% endfor %}

                <p><span class="tree-information-table-heading">Winter Foliage:</span> {{ newString }}</p>

                {% else %}

                <p><span class="tree-information-table-heading">Winter Foliage:</span> {{ winterFoliage }}</p>

                {% endif %}

            </div>

            <div>

                {% if origin != "" and origin.length > 0 %}

                {% assign newString = "" %}

                {% assign newArray = origin | split: ', ' %}

                {% for item in newArray %}

                {% assign newItem = item | replace: "-", " " | capitalize %}

                {% if newString == "" %}

                {% assign newString = newString | append: newItem %}

                {% else %}

                {% assign newString = newString | append: ", " | append: newItem %}

                {% endif %}

                {% endfor %}

                <p><span class="tree-information-table-heading">Origin:</span> {{ newString }}</p>

                {% else %}

                <p><span class="tree-information-table-heading">Origin:</span> {{ origin }}</p>

                {% endif %}

            </div>

            <div>

                {% if types != "" and types.length > 0 %}

                {% assign newString = "" %}

                {% assign newArray = types | split: ', ' %}

                {% for item in newArray %}

                {% assign newItem = item | replace: "-", " " | capitalize %}

                {% if newString == "" %}

                {% assign newString = newString | append: newItem %}

                {% else %}

                {% assign newString = newString | append: ", " | append: newItem %}

                {% endif %}

                {% endfor %}

                <p><span class="tree-information-table-heading">Types:</span> {{ newString }}</p>

                {% else %}

                <p><span class="tree-information-table-heading">Types:</span> {{ types }}</p>

                {% endif %}

            </div>

            <div>

                {% if floweringSeason != "" and floweringSeason.length > 0 %}

                {% assign newString = "" %}

                {% assign newArray = floweringSeason | split: ', ' %}

                {% for item in newArray %}

                {% assign newItem = item | replace: "-", " " | capitalize %}

                {% if newString == "" %}

                {% assign newString = newString | append: newItem %}

                {% else %}

                {% assign newString = newString | append: ", " | append: newItem %}

                {% endif %}

                {% endfor %}

                <p><span class="tree-information-table-heading">Flowering Season:</span> {{ newString }}</p>

                {% else %}

                <p><span class="tree-information-table-heading">Flowering Season:</span> {{ floweringSeason }}</p>

                {% endif %}

            </div>

            <div>

                {% if flowerColor != "" and flowerColor.length > 0 %}

                {% assign newString = "" %}

                {% assign newArray = flowerColor | split: ', ' %}

                {% for item in newArray %}

                {% assign newItem = item | replace: "-", " " | capitalize %}

                {% if newString == "" %}

                {% assign newString = newString | append: newItem %}

                {% else %}

                {% assign newString = newString | append: ", " | append: newItem %}

                {% endif %}

                {% endfor %}

                <p><span class="tree-information-table-heading">Flower Colour:</span> {{ newString }}</p>

                {% else %}

                <p><span class="tree-information-table-heading">Flower Colour:</span> {{ flowerColor }}</p>

                {% endif %}

            </div>

            <div>

                {% if autumnColor != "" and autumnColor.length > 0 %}

                {% assign newString = "" %}

                {% assign newArray = autumnColor | split: ', ' %}

                {% for item in newArray %}

                {% assign newItem = item | replace: "-", " " | capitalize %}

                {% if newString == "" %}

                {% assign newString = newString | append: newItem %}

                {% else %}

                {% assign newString = newString | append: ", " | append: newItem %}

                {% endif %}

                {% endfor %}

                <p><span class="tree-information-table-heading">Autumn Colour:</span> {{ newString }}</p>

                {% else %}

                <p><span class="tree-information-table-heading">Autumn Colour:</span> {{ autumnColor }}</p>

                {% endif %}

            </div>

            <div>

                {% if foliageColor != "" and foliageColor.length > 0 %}

                {% assign newString = "" %}

                {% assign newArray = foliageColor | split: ', ' %}

                {% for item in newArray %}

                {% assign newItem = item | replace: "-", " " | capitalize %}

                {% if newString == "" %}

                {% assign newString = newString | append: newItem %}

                {% else %}

                {% assign newString = newString | append: ", " | append: newItem %}

                {% endif %}

                {% endfor %}

                <p><span class="tree-information-table-heading">Foliage Colour:</span> {{ newString }}</p>

                {% else %}

                <p><span class="tree-information-table-heading">Foliage Colour:</span> {{ foliageColor }}</p>

                {% endif %}

            </div>

            <div>

                {% if fruitingSeason != "" and fruitingSeason.length > 0 %}

                {% assign newString = "" %}

                {% assign newArray = fruitingSeason | split: ', ' %}

                {% for item in newArray %}

                {% assign newItem = item | replace: "-", " " | capitalize %}

                {% if newString == "" %}

                {% assign newString = newString | append: newItem %}

                {% else %}

                {% assign newString = newString | append: ", " | append: newItem %}

                {% endif %}

                {% endfor %}

                <p><span class="tree-information-table-heading">Fruiting Season:</span> {{ newString }}</p>

                {% else %}

                <p><span class="tree-information-table-heading">Fruiting Season:</span> {{ fruitingSeason }}</p>

                {% endif %}

            </div>

    </div>


    {% if tree.relatedTrees.length > 0 %}
    <h3 id="related-trees-heading">You may also like</h3>

    <div id="related-trees">
    
    {% for relatedTree in tree.relatedTrees %}

    <div class="related-tree">
        <div class="tree-image">
            <img src="https://images.leafland.co.nz/images/trees/{{ relatedTree.mainImage }}?tr=w-500,q-75,pr-true,f-auto">
        </div>
        <div class="tree-content">
            <div>
                <h2>{{ relatedTree.botanicalName }}</h2>
                {% if relatedTree.commonName != '' %}
                <h3>{{ relatedTree.commonName }}</h3>
                {% endif %}
            </div>
            <a class="button tree-link" href="/trees/{{ relatedTree.url }}/">View Tree</a>
        </div>
    </div>

    {% endfor %}
    
    </div>
    {% endif %}

    <div id="success-message">
        <p id="success-message-text" class="paragraph-title"></p>
    </div>

</div>
