---
layout: layouts/base.liquid
type: product-list
---

<div id="content">

    <div class="title-container">
        <p>{{ date }}</p>
        <h1>Product List</h1>
    </div>

    <div id="tree-wrapper">
    
        {% for tree in productLists.trees %}

        <div class="tree-item">

            <div class="title-container">

                <p>{{ tree.commonName }}</p>
                
                <h2>{{ tree.botanicalName }}</h2>
                
            </div>

            <p>{{ tree.description }}</p>

            <div class="stock-div">

                <table class="product-list-table">
                    <thead>
                        <tr>
                            <th>Grade</th>
                            <th class="retail-price">$Retail</th>
                            <th class="wholesale-price">$Wholesale</th>
                            <th>Height (m)</th>
                            <th>Standard Height (m)</th>
                            <th>Ready</th>
                            <th>In Production</th>
                        </tr>
                    </thead>
                    <tbody id="product-list-table-inner">
                        {% for stock in tree.stock %}
                        <tr>
                            <td>{{stock.grade}}</td>
                            <td class="retail-price">{{stock.retailPrice}}</td>
                            <td class="wholesale-price">{{stock.wholesalePrice}}</td>
                            <td>{{stock.height}}</td>
                            <td>{{stock.standardHeight}}</td>
                            <td>{{stock.ready}}</td>
                            <td>{{stock.inProduction}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
            {% if tree.url != 'NONE' %}
            <a href="/trees/{{ tree.url }}/" class="button">Order Now</a>
            {% endif %}

            <div class="image-div">

                {% for image in tree.images %}

                    {% assign imageData = image | split: "&" %}

                    <div class="image-group">
                        <img src="https://leafland.co.nz/cdn-cgi/image/format=auto,metadata=none,quality=75,width=750/https://files.leafland.co.nz/{{ imageData[0] }}" width="750" height="750">
                        {% if imageData[1] != 'NONE' %}
                        <span class="image-group-text">{{ imageData[1] }}</span>
                        {% endif %}
                    </div>

                {% endfor %}

            </div>

        </div>

        {% endfor %}
    
    </div>

</div>
