---
layout: layouts/base.liquid
type: product
---

<div id="content">

    <div id="tree-name-block">
        <h1 class="tree-botanical-name">{{ botanicalName }}</h1>

        {% if commonName != '' %}
        <h2 class="tree-common-name accent-color">{{ commonName }}</h2>
        {% else %}
        <h2 class="tree-common-name accent-color" style="display:none"></h2>
        {% endif %}
    </div>

    <div id="grid-content">

        <div id="grid-content-left">

            <div id="main-image">

                <button id="image-left-button">

                    <img src="https://leafland.imgix.net/images/icons/interface/left.svg" class="left-icon" width="40" height="40">

                </button>

                <button id="image-right-button">

                    <img src="https://leafland.imgix.net/images/icons/interface/right.svg" class="right-icon" width="40" height="40">

                </button>
            
                <div id="main-image-inner">
                
                    <img src="https://leafland.imgix.net/images/trees/{{ mainImage }}?auto=format&w=500&q=75" height="500" width="500" alt="{{ url | replace: '-', ' ' }}" loading="eager" class="main-img" style="opacity: 1;">
                
                </div>
            
            </div>

            <div class="images">

                <div class="image">

                    <img data-position="{% increment position %}" class="thumb-image" src="https://leafland.imgix.net/images/trees/{{ mainImage }}?auto=format&w=75&q=75" width="50" height="50" alt="{{ url | replace: '-', ' ' }}">

                </div>

                {% for image in tree.images %}
                
                <div class="image">

                    <img data-position="{% increment position %}" class="thumb-image" src="https://leafland.imgix.net/{{ image.src }}?auto=format&w=75&q=75" width="50" height="50" alt="{{ image.alt }}" >
                    
                </div>

                {% endfor %}

            </div>

        </div>

        <div id="grid-content-right">

            <div id="tree-info">

                <div id="tree-info-left">

                    {% comment %} {% if commonName != '' %}
                    <h3 id="tree-info-heading">{{ botanicalName }} ({{ commonName }})</h3>
                    {% else %}
                    <h3 id="tree-info-heading">{{ botanicalName }}</h3>
                    {% endif %} {% endcomment %}

                    <p class="tree-description">{{ description }}</p>

                    <div id="color-section">

                        {% if foliageColor != "" and foliageColor.length > 0 %}

                            <div class="color-div">

                                <p class="bold-up">Foliage Colour</p>

                                <div class="color-spans">

                                    {% assign foliageArray = foliageColor | split: ', '%}

                                    {% for color in foliageArray %}

                                        <span class="tree-color {{color}}"></span>

                                    {% endfor %}

                                </div>

                            </div>

                        {% endif %}

                        {% if autumnColor != "" and autumnColor.length > 0 %}

                            <div class="color-div">

                                    <p class="bold-up">Autumn Colour</p>

                                    <div class="color-spans">

                                        {% assign autumnArray = autumnColor | split: ', '%}

                                        {% for color in autumnArray %}

                                            <span class="tree-color {{color}}"></span>

                                        {% endfor %}

                                    </div>

                            </div>

                        {% endif %}

                        {% if flowerColor != "" and flowerColor.length > 0 %}

                            <div class="color-div">

                                    <p class="bold-up">Flower Colour</p>

                                    <div class="color-spans">

                                        {% assign flowerArray = flowerColor | split: ', '%}

                                        {% for color in flowerArray %}

                                            <span class="tree-color {{color}}"></span>

                                        {% endfor %}

                                    </div>

                            </div>

                        {% endif %}

                        {% if fruitingSeason != "" and fruitingSeason.length > 0 %}

                            <div class="season-div">

                                    <p class="bold-up">Fruiting Season</p>

                                    {% assign fruitingArray = fruitingSeason | split: ', '%}

                                    {% for item in fruitingArray %}

                                        <span class="info-pill">{{item | capitalize}}</span>

                                    {% endfor %}

                            </div>

                        {% endif %}

                        {% if floweringSeason != "" and floweringSeason.length > 0 %}

                            <div class="season-div">

                                    <p class="bold-up">Flowering Season</p>

                                    {% assign floweringArray = floweringSeason | split: ', '%}

                                    {% for item in floweringArray %}

                                        <span class="info-pill">{{item | capitalize}}</span>

                                    {% endfor %}

                            </div>

                        {% endif %}
                    
                    </div>

                    <div id="tree-icons">

                        {% if origin != "" and origin.length > 0 %}

                            <div class="icon-div">
                            
                                <img class="tree-icon" src="https://leafland.imgix.net/images/icons/tree-attributes/{{ origin }}.svg" width="40" height="40" alt="{{ origin }} tree">
                                <span class="tooltip">{{ origin | capitalize }}</span>
                            
                            </div>

                        {% endif %}

                        {% if winterFoliage != "" and winterFoliage.length > 0 %}

                            <div class="icon-div">
                            
                                <img class="tree-icon" src="https://leafland.imgix.net/images/icons/tree-attributes/{{ winterFoliage }}.svg" width="40" height="40" alt="{{ winterFoliage }} tree">
                                <span class="tooltip">{{ winterFoliage | capitalize }}</span>
                            
                            </div>

                        {% endif %}

                        {% if types != "" and types.length > 0 %}

                            {% assign typesArray = types | split: ', ' %}

                            {% for item in typesArray %}

                                <div class="icon-div">
                                
                                    <img class="tree-icon" src="https://leafland.imgix.net/images/icons/tree-attributes/{{ item }}.svg" width="40" height="40" alt="{{ item | replace: '-', ' ' }} tree">
                                    <span class="tooltip">{{ item | replace: '-', ' ' | capitalize }}</span>
                                
                                </div>

                            {% endfor %}

                        {% endif %}

                        {% if tolerates != "" and tolerates.length > 0 %}

                            {% assign toleratesArray = tolerates | split: ', ' %}

                            {% for item in toleratesArray %}

                                {% if item == 'drought' or item == 'heavy-rainfall' or item == 'light-frosts' or item == 'heavy-frosts' %}

                                    <div class="icon-div">
                                    
                                        <img class="tree-icon" src="https://leafland.imgix.net/images/icons/tree-attributes/{{ item }}.svg" width="40" height="40" alt="tolerates {{ item | replace: '-', ' ' }}">
                                        <span class="tooltip">Tolerates {{ item | replace: '-', ' ' }}</span>
                                    
                                    </div>

                                {% else %}

                                    <div class="icon-div">
                                    
                                        <img class="tree-icon" src="https://leafland.imgix.net/images/icons/tree-attributes/{{ item }}.svg" width="40" height="40" alt="tolerates {{ item | replace: '-', ' ' }} sites">
                                        <span class="tooltip">Tolerates {{ item | replace: '-', ' ' }} sites</span>
                                    
                                    </div>

                                {% endif %}

                            {% endfor %}

                        {% endif %}

                        {% if soilType != "" and soilType.length > 0 %}

                            {% assign soilArray = soilType | split: ', ' %}

                            {% for item in soilArray %}

                                <div class="icon-div">
                                
                                    <img class="tree-icon" src="https://leafland.imgix.net/images/icons/tree-attributes/{{ item }}.svg" width="40" height="40" alt="{{ item | replace: '-', ' ' }}">
                                    <span class="tooltip">{{ item | replace: '-', ' ' | capitalize }}</span>
                                
                                </div>

                            {% endfor %}

                        {% endif %}

                        {% if sunShade != "" and sunShade.length > 0 %}

                            {% assign sunArray = sunShade | split: ', ' %}

                            {% for item in sunArray %}

                                <div class="icon-div">
                                
                                    <img class="tree-icon" src="https://leafland.imgix.net/images/icons/tree-attributes/{{ item }}.svg" width="40" height="40" alt="{{ item | replace: '-', ' '}}">
                                    <span class="tooltip">{{ item | replace: '-', ' ' | capitalize }}</span>
                                
                                </div>

                            {% endfor %}

                        {% endif %}

                        {% if uses != "" and uses.length > 0 %}

                            {% assign usesArray = uses | split: ', ' %}

                            {% for item in usesArray %}

                                {% if item contains '-' %}

                                    <div class="icon-div">
                                    
                                        <img class="tree-icon" src="https://leafland.imgix.net/images/icons/tree-attributes/{{ item }}.svg" width="40" height="40" alt="{{ item | replace: '-', ' ' }}">
                                        <span class="tooltip">{{ item | replace: '-', ' ' | capitalize }}</span>
                                    
                                    </div>

                                {% else %}

                                    <div class="icon-div">
                                    
                                        <img class="tree-icon" src="https://leafland.imgix.net/images/icons/tree-attributes/{{ item }}.svg" width="40" height="40" alt="{{ item }}">
                                        <span class="tooltip">{{ item | capitalize }}</span>
                                    
                                    </div>

                                {% endif %}

                            {% endfor %}

                        {% endif %}

                    </div>

                </div>

                <div id="tree-info-right">

                    <div id="tree-shape">

                        <p class="paragraph-title">10 Year Size</p>

                        <img id="tree-shape-image" src="https://leafland.imgix.net/{{ treeShape }}" width="300" height="300" alt="tree shape">
                        
                        <div id="height-div">
                            <span class="arrow" id="arrow-up">↑</span>
                            <span id="height-span">{{tree.height}}</span>
                            <span class="arrow" id="arrow-down">↓</span>
                        </div>

                        <div id="width-div">
                            <span class="arrow" id="arrow-left">←</span>
                            <span id="width-span">{{tree.width}}</span>
                            <span class="arrow" id="arrow-right">→</span>
                        </div>

                    </div>

                </div>

            </div>

        </div>

        <div id="grid-content-bottom-left">

            <div id="order-block">

                <p class="block-title">Pricing and stock availability</p>

                {% comment %} <h3 id="grade-sizes-heading">Add to order</h3> {% endcomment %}

                <button id="open-stock-table">View pricing and stock numbers</button>

                <div id="grade-sizes">

                    <div id="grade-select">

                        <div class="grade-select-grid-div">
                            {% comment %} <label for="grade-size">Grade Size</label>
                            <select name="grade-size" id="grade-size-select">

                                <option selected disabled hidden>Select grade</option>
                            
                            </select> {% endcomment %}

                            <p>Select a grade size</p>
                            <div id="grade-size-selection" class="selection-grid"></div>
                        </div>

                        <div class="grade-select-grid-div">
                            {% comment %} <label for="height">Average height</label>
                            <select disabled name="height" id="height-select">
                            
                                <option selected disabled hidden>Select height</option>
                            
                            </select> {% endcomment %}

                            <p>Select an average height</p>
                            <div id="average-height-selection" class="selection-grid">

                                <span class="selection-box-disabled">None</span>
                            
                            </div>
                        </div>

                        <div class="grade-select-grid-div">
                            {% comment %} <label for="standard-height">Standard height</label>
                            <select disabled name="standard-height" id="standard-height-select">
                            
                                <option selected disabled hidden>Select height</option>
                            
                            </select> {% endcomment %}

                            <p>Select a standard height</p>
                            <div id="standard-height-selection" class="selection-grid">
                            
                                <span class="selection-box-disabled">None</span>

                            </div>
                        </div>

                        <div id="stock-values">

                            <p>

                                <span class="stock-value-title">Quantity in stock:</span> <span class="info-pill" id="quantity-field">0</span>
                            
                            </p>
                            
                            <p>
                            
                                <span class="stock-value-title">Price per tree:</span> <span id="wholesale-price" class="info-pill">$0.00+GST (Wholesale)</span> <span id="retail-price" class="info-pill">$0.00+GST (Retail)</span>
                            
                            </p>
                    
                    
                        </div>

                        <div id="add-product-div">

                            <div>
                                {% comment %} <label for="quantity">Order Quantity</label> {% endcomment %}
                                <input disabled name="quantity" type="number" id="quantity" value="1" min="1" max="9999" inputmode="numeric">
                            </div>

                            <button disabled id="add-product">Add to order</button>
                        </div>

                    </div>

                    <div id="success-message">
                        <p id="success-message-text" class="paragraph-title">Added to order</p>
                    </div>

                </div>

                {% comment %} <p id="coming-on">Grades coming on: <span id="coming-on-field" class="info-pill">None</span></p> {% endcomment %}

                <div id="details-section">

                    <details>

                        <summary>
                        
                            <span>Definitions</span>

                            <img src="https://leafland.imgix.net/images/icons/interface/right.svg" class="right-icon" width="25" height="25">
                            <img src="https://leafland.imgix.net/images/icons/interface/down.svg" class="down-icon" width="25" height="25">
                            
                        </summary>

                        <p>The <b>grade size</b> is the size of the bag/pot the tree is in. This is measured in either litres or pints per bag.</p>

                        <p>The <b>average height</b> is the overall height of the tree from the top of the pot/bag (bottom of the trunk) to the top of the tree, averaged across the trees we have in this grade.</p>

                        <p>The <b>standard height</b> is the height of the clear trunk from the bottom of the trunk to the graft or the first branch (if it is not grafted). If you don't want a standard tree, select 'None' as the standard height.</p>

                        <p>Grades that are <b>coming on</b> are not yet ready for sale. You can place a pre-order for a 50% deposit and we will hold the stock until it is ready. Enquire if interested.</p>

                    </details>

                    <details>

                        <summary>
                        
                            <span>Disclaimer</span>

                            <img src="https://leafland.imgix.net/images/icons/interface/right.svg" class="right-icon" width="25" height="25">
                            <img src="https://leafland.imgix.net/images/icons/interface/down.svg" class="down-icon" width="25" height="25">
                        
                        </summary>

                        <p>Photos are for reference only and do not necessarily reflect the final product delivered. Prices subject to change without notice. Actual stock quantity may differ. Heights are given in good faith but we give no guarantee as to the height of the final product. If you would like a current photo of any of the grades, please get in touch.</p>

                    </details>

                </div>

            </div>

        </div>

        <div id="grid-content-bottom-right">

            <div id="tree-information-table">

                <p class="block-title-less-margin">Tree specifications</p>

                    {% if botanicalName.size > 0 %}

                    <div>

                        <p><span class="tree-information-table-heading">Botanical Name:</span> {{ botanicalName }}</p>

                    </div>

                    {% endif %}


                    {% if commonName.size > 0 %}

                    <div>

                        <p><span class="tree-information-table-heading">Common Name:</span> {{ commonName }}</p>

                    </div>

                    {% endif %}


                    {% if description.size > 0 %}

                    <div>

                        <p><span class="tree-information-table-heading">Description:</span> {{ description }}</p>

                    </div>

                    {% endif %}


                    {% if height.size > 0 %}

                    <div>

                        {% assign newString = "" %}

                        {% assign newArray = height | split: ', ' %}

                        {% for item in newArray %}

                        {% assign newItem = item | replace: "-", " " | capitalize %}

                        {% if newString == "" %}

                        {% assign newString = newString | append: newItem %}

                        {% else %}

                        {% assign newString = newString | append: ", " | append: newItem %}

                        {% endif %}

                        {% endfor %}

                        <p><span class="tree-information-table-heading">Height:</span> {{ newString }}</p>

                    </div>

                    {% endif %}


                    {% if width.size > 0 %}

                    <div>

                        {% assign newString = "" %}

                        {% assign newArray = width | split: ', ' %}

                        {% for item in newArray %}

                        {% assign newItem = item | replace: "-", " " | capitalize %}

                        {% if newString == "" %}

                        {% assign newString = newString | append: newItem %}

                        {% else %}

                        {% assign newString = newString | append: ", " | append: newItem %}

                        {% endif %}

                        {% endfor %}

                        <p><span class="tree-information-table-heading">Width:</span> {{ newString }}</p>

                    </div>

                    {% endif %}


                    {% if uses.size > 0 %}

                    <div>

                        {% assign newString = "" %}

                        {% assign newArray = uses | split: ', ' %}

                        {% for item in newArray %}

                        {% assign newItem = item | replace: "-", " " | capitalize %}

                        {% if newString == "" %}

                        {% assign newString = newString | append: newItem %}

                        {% else %}

                        {% assign newString = newString | append: ", " | append: newItem %}

                        {% endif %}

                        {% endfor %}

                        <p><span class="tree-information-table-heading">Uses:</span> {{ newString }}</p>

                    </div>

                    {% endif %}


                    {% if tolerates.size > 0 %}

                    <div>

                        {% assign newString = "" %}

                        {% assign newArray = tolerates | split: ', ' %}

                        {% for item in newArray %}

                        {% assign newItem = item | replace: "-", " " | capitalize %}

                        {% if newString == "" %}

                        {% assign newString = newString | append: newItem %}

                        {% else %}

                        {% assign newString = newString | append: ", " | append: newItem %}

                        {% endif %}

                        {% endfor %}

                        <p><span class="tree-information-table-heading">Tolerates:</span> {{ newString }}</p>

                    </div>

                    {% endif %}


                    {% if soilType.size > 0 %}

                    <div>

                        {% assign newString = "" %}

                        {% assign newArray = soilType | split: ', ' %}

                        {% for item in newArray %}

                        {% assign newItem = item | replace: "-", " " | capitalize %}

                        {% if newString == "" %}

                        {% assign newString = newString | append: newItem %}

                        {% else %}

                        {% assign newString = newString | append: ", " | append: newItem %}

                        {% endif %}

                        {% endfor %}

                        <p><span class="tree-information-table-heading">Soil Type:</span> {{ newString }}</p>

                    </div>

                    {% endif %}


                    {% if sunShade.size > 0 %}

                    <div>

                        {% assign newString = "" %}

                        {% assign newArray = sunShade | split: ', ' %}

                        {% for item in newArray %}

                        {% assign newItem = item | replace: "-", " " | capitalize %}

                        {% if newString == "" %}

                        {% assign newString = newString | append: newItem %}

                        {% else %}

                        {% assign newString = newString | append: ", " | append: newItem %}

                        {% endif %}

                        {% endfor %}

                        <p><span class="tree-information-table-heading">Sun and Shade:</span> {{ newString }}</p>

                    </div>

                    {% endif %}


                    {% if winterFoliage.size > 0 %}

                    <div>

                        {% assign newString = "" %}

                        {% assign newArray = winterFoliage | split: ', ' %}

                        {% for item in newArray %}

                        {% assign newItem = item | replace: "-", " " | capitalize %}

                        {% if newString == "" %}

                        {% assign newString = newString | append: newItem %}

                        {% else %}

                        {% assign newString = newString | append: ", " | append: newItem %}

                        {% endif %}

                        {% endfor %}

                        <p><span class="tree-information-table-heading">Winter Foliage:</span> {{ newString }}</p>

                    </div>

                    {% endif %}


                    {% if origin.size > 0 %}

                    <div>

                        {% assign newString = "" %}

                        {% assign newArray = origin | split: ', ' %}

                        {% for item in newArray %}

                        {% assign newItem = item | replace: "-", " " | capitalize %}

                        {% if newString == "" %}

                        {% assign newString = newString | append: newItem %}

                        {% else %}

                        {% assign newString = newString | append: ", " | append: newItem %}

                        {% endif %}

                        {% endfor %}

                        <p><span class="tree-information-table-heading">Origin:</span> {{ newString }}</p>

                    </div>

                    {% endif %}


                    {% if types.size > 0 %}

                    <div>

                        {% assign newString = "" %}

                        {% assign newArray = types | split: ', ' %}

                        {% for item in newArray %}

                        {% assign newItem = item | replace: "-", " " | capitalize %}

                        {% if newString == "" %}

                        {% assign newString = newString | append: newItem %}

                        {% else %}

                        {% assign newString = newString | append: ", " | append: newItem %}

                        {% endif %}

                        {% endfor %}

                        <p><span class="tree-information-table-heading">Types:</span> {{ newString }}</p>

                    </div>

                    {% endif %}


                    {% if floweringSeason.size > 0 %}

                    <div>

                        {% assign newString = "" %}

                        {% assign newArray = floweringSeason | split: ', ' %}

                        {% for item in newArray %}

                        {% assign newItem = item | replace: "-", " " | capitalize %}

                        {% if newString == "" %}

                        {% assign newString = newString | append: newItem %}

                        {% else %}

                        {% assign newString = newString | append: ", " | append: newItem %}

                        {% endif %}

                        {% endfor %}

                        <p><span class="tree-information-table-heading">Flowering Season:</span> {{ newString }}</p>

                    </div>

                    {% endif %}


                    {% if flowerColor.size > 0 %}

                    <div>

                        {% assign newString = "" %}

                        {% assign newArray = flowerColor | split: ', ' %}

                        {% for item in newArray %}

                        {% assign newItem = item | replace: "-", " " | capitalize %}

                        {% if newString == "" %}

                        {% assign newString = newString | append: newItem %}

                        {% else %}

                        {% assign newString = newString | append: ", " | append: newItem %}

                        {% endif %}

                        {% endfor %}

                        <p><span class="tree-information-table-heading">Flower Colour:</span> {{ newString }}</p>

                    </div>

                    {% endif %}


                    {% if autumnColor.size > 0 %}

                    <div>

                        {% assign newString = "" %}

                        {% assign newArray = autumnColor | split: ', ' %}

                        {% for item in newArray %}

                        {% assign newItem = item | replace: "-", " " | capitalize %}

                        {% if newString == "" %}

                        {% assign newString = newString | append: newItem %}

                        {% else %}

                        {% assign newString = newString | append: ", " | append: newItem %}

                        {% endif %}

                        {% endfor %}

                        <p><span class="tree-information-table-heading">Autumn Colour:</span> {{ newString }}</p>

                    </div>

                    {% endif %}


                    {% if foliageColor.size > 0 %}

                    <div>

                        {% assign newString = "" %}

                        {% assign newArray = foliageColor | split: ', ' %}

                        {% for item in newArray %}

                        {% assign newItem = item | replace: "-", " " | capitalize %}

                        {% if newString == "" %}

                        {% assign newString = newString | append: newItem %}

                        {% else %}

                        {% assign newString = newString | append: ", " | append: newItem %}

                        {% endif %}

                        {% endfor %}

                        <p><span class="tree-information-table-heading">Foliage Colour:</span> {{ newString }}</p>

                    </div>

                    {% endif %}


                    {% if fruitingSeason.size > 0 %}

                    <div>

                        {% assign newString = "" %}

                        {% assign newArray = fruitingSeason | split: ', ' %}

                        {% for item in newArray %}

                        {% assign newItem = item | replace: "-", " " | capitalize %}

                        {% if newString == "" %}

                        {% assign newString = newString | append: newItem %}

                        {% else %}

                        {% assign newString = newString | append: ", " | append: newItem %}

                        {% endif %}

                        {% endfor %}

                        <p><span class="tree-information-table-heading">Fruiting Season:</span> {{ newString }}</p>

                    </div>

                    {% endif %}

            </div>

        </div>

    </div>


    {% if tree.relatedTrees.length > 0 %}
    <h3 id="related-trees-heading">You may also like</h3>

    <div id="related-trees">
    
    {% for relatedTree in tree.relatedTrees %}

    <div class="related-tree">
        <div class="tree-image">
            <img src="https://leafland.imgix.net/images/trees/{{ relatedTree.mainImage }}?auto=format&w=500&q=75">
        </div>
        <div class="tree-content">
            <div>
                <h2>{{ relatedTree.botanicalName }}</h2>
                {% if relatedTree.commonName != '' %}
                <h3>{{ relatedTree.commonName }}</h3>
                {% endif %}
            </div>
            <a class="button tree-link" href="/trees/{{ relatedTree.url }}/">View Tree</a>
        </div>
    </div>

    {% endfor %}
    
    </div>
    {% endif %}
{% comment %} 
    <div id="add-to-order-button-div">
        <button id="add-to-order-button">View pricing and stock</button>
    </div> {% endcomment %}

</div>

