---
layout: layouts/base.liquid
type: product
---

<div id="content">

    <div id="tree-name-block">

        {% if commonName != '' %}
        <h2 class="tree-common-name">{{ commonName }}</h2>
        {% else %}
        <h2 class="tree-common-name" style="display:none"></h2>
        {% endif %}

        <h1 class="tree-botanical-name">{{ tree.fullName }}</h1>

    </div>

    <div id="grid-content">

        <div id="grid-content-left">
                
            <img src="https://leafland.co.nz/cdn-cgi/image/format=auto,metadata=none,quality=10,width=100,blur=10/https://files.leafland.co.nz/{{ mainImage }}" height="1000" width="1000" alt="{{ url | replace: '-', ' ' }}" loading="eager" class="main-img-low">
            <img src="https://leafland.co.nz/cdn-cgi/image/format=auto,metadata=none,quality=75,width=1000/https://files.leafland.co.nz/{{ mainImage }}" height="1000" width="1000" alt="{{ url | replace: '-', ' ' }}" loading="eager" class="main-img" style="display:none" onload="document.querySelector('.main-img-low').style.setProperty('opacity','0');this.style.setProperty('display','inline-block')">

        </div>

        <div id="grid-content-right">

            <div id="tree-info">

                <div id="tree-info-description-icons">

                    <button id="open-stock-table">Order trees</button>

                    <p class="tree-description">{{ description }}</p>

                    <div id="extra-info">
                        
                        {% if commonName.size > 0 %}
                        <div>
                           <p class="extra-info"><span>Common Name(s):</span> {{ commonName }}{% if otherCommonNames.size > 0 %}, {{ otherCommonNames }}{% endif %}</p>
                        </div>
                        {% endif %}

                        {% if tree.synonyms.size > 0 %}
                        <div>
                           <p class="extra-info"><span>Synonym(s):</span> {{ tree.synonyms }}</p>
                        </div>
                        {% endif %}

                        <div id="height-shape-div">

                            <div>

                                <p class="extra-info"><span>10 Year Height:</span> {{tree.height}}</p>
                                <p class="extra-info"><span>10 Year Width:</span> {{tree.width}}</p>

                            </div>

                            <img id="tree-shape-image" src="https://files.leafland.co.nz/{{ treeShape }}" width="100" height="100" alt="tree shape">

                        </div>

                        <div id="colors-div">

                            {% if tree.stem.summer.size > 0 %}

                            <div class='color-div'>

                                <p class="extra-info">Summer Stem:</p>

                                <div class="color-spans">

                                    {% assign stemArray = tree.stem.summer | split: ', '%}

                                    {% for color in stemArray %}

                                        <span class="tree-color {{color}}" title="{{color | capitalize}}"></span>

                                    {% endfor %}

                                </div>

                            </div>

                            {% endif %}

                            {% if tree.stem.autumn.size > 0 %}

                            <div class='color-div'>

                                <p class="extra-info">Autumn Stem:</p>

                                <div class="color-spans">

                                    {% assign stemArray = tree.stem.autumn | split: ', '%}

                                    {% for color in stemArray %}

                                        <span class="tree-color {{color}}" title="{{color | capitalize}}"></span>

                                    {% endfor %}

                                </div>

                            </div>

                            {% endif %}

                            {% if tree.stem.winter.size > 0 %}

                            <div class='color-div'>

                                <p class="extra-info">Winter Stem:</p>

                                <div class="color-spans">

                                    {% assign stemArray = tree.stem.winter | split: ', '%}

                                    {% for color in stemArray %}

                                        <span class="tree-color {{color}}" title="{{color | capitalize}}"></span>

                                    {% endfor %}

                                </div>

                            </div>

                            {% endif %}

                            {% if tree.stem.spring.size > 0 %}

                            <div class='color-div'>

                                <p class="extra-info">Spring Stem:</p>

                                <div class="color-spans">

                                    {% assign stemArray = tree.stem.spring | split: ', '%}

                                    {% for color in stemArray %}

                                        <span class="tree-color {{color}}" title="{{color | capitalize}}"></span>

                                    {% endfor %}

                                </div>

                            </div>

                            {% endif %}

                            {% if tree.foliage.summer.size > 0 %}

                            <div class='color-div'>

                                <p class="extra-info">Summer Foliage:</p>

                                <div class="color-spans">

                                    {% assign stemArray = tree.foliage.summer | split: ', '%}

                                    {% for color in stemArray %}

                                        <span class="tree-color {{color}}" title="{{color | capitalize}}"></span>

                                    {% endfor %}

                                </div>

                            </div>

                            {% endif %}

                            {% if tree.foliage.autumn.size > 0 %}

                            <div class='color-div'>

                                <p class="extra-info">Autumn Foliage:</p>

                                <div class="color-spans">

                                    {% assign stemArray = tree.foliage.autumn | split: ', '%}

                                    {% for color in stemArray %}

                                        <span class="tree-color {{color}}" title="{{color | capitalize}}"></span>

                                    {% endfor %}

                                </div>

                            </div>

                            {% endif %}

                            {% if tree.foliage.winter.size > 0 %}

                            <div class='color-div'>

                                <p class="extra-info">Winter Foliage:</p>

                                <div class="color-spans">

                                    {% assign stemArray = tree.foliage.winter | split: ', '%}

                                    {% for color in stemArray %}

                                        <span class="tree-color {{color}}" title="{{color | capitalize}}"></span>

                                    {% endfor %}

                                </div>

                            </div>

                            {% endif %}

                            {% if tree.foliage.spring.size > 0 %}

                            <div class='color-div'>

                                <p class="extra-info">Spring Foliage:</p>

                                <div class="color-spans">

                                    {% assign stemArray = tree.foliage.spring | split: ', '%}

                                    {% for color in stemArray %}

                                        <span class="tree-color {{color}}" title="{{color | capitalize}}"></span>

                                    {% endfor %}

                                </div>

                            </div>

                            {% endif %}

                            {% if tree.flowers.summer.size > 0 %}

                            <div class='color-div'>

                                <p class="extra-info">Summer Flowers:</p>

                                <div class="color-spans">

                                    {% assign stemArray = tree.flowers.summer | split: ', '%}

                                    {% for color in stemArray %}

                                        <span class="tree-color {{color}}" title="{{color | capitalize}}"></span>

                                    {% endfor %}

                                </div>

                            </div>

                            {% endif %}

                            {% if tree.flowers.autumn.size > 0 %}

                            <div class='color-div'>

                                <p class="extra-info">Autumn Flowers:</p>

                                <div class="color-spans">

                                    {% assign stemArray = tree.flowers.autumn | split: ', '%}

                                    {% for color in stemArray %}

                                        <span class="tree-color {{color}}" title="{{color | capitalize}}"></span>

                                    {% endfor %}

                                </div>

                            </div>

                            {% endif %}

                            {% if tree.flowers.winter.size > 0 %}

                            <div class='color-div'>

                                <p class="extra-info">Winter Flowers:</p>

                                <div class="color-spans">

                                    {% assign stemArray = tree.flowers.winter | split: ', '%}

                                    {% for color in stemArray %}

                                        <span class="tree-color {{color}}" title="{{color | capitalize}}"></span>

                                    {% endfor %}

                                </div>

                            </div>

                            {% endif %}

                            {% if tree.flowers.spring.size > 0 %}

                            <div class='color-div'>

                                <p class="extra-info">Spring Flowers:</p>

                                <div class="color-spans">

                                    {% assign stemArray = tree.flowers.spring | split: ', '%}

                                    {% for color in stemArray %}

                                        <span class="tree-color {{color}}" title="{{color | capitalize}}"></span>

                                    {% endfor %}

                                </div>

                            </div>

                            {% endif %}

                            {% if tree.fruit.summer.size > 0 %}

                            <div class='color-div'>

                                <p class="extra-info">Summer Fruit:</p>

                                <div class="color-spans">

                                    {% assign stemArray = tree.fruit.summer | split: ', '%}

                                    {% for color in stemArray %}

                                        <span class="tree-color {{color}}" title="{{color | capitalize}}"></span>

                                    {% endfor %}

                                </div>

                            </div>

                            {% endif %}

                            {% if tree.fruit.autumn.size > 0 %}

                            <div class='color-div'>

                                <p class="extra-info">Autumn Fruit:</p>

                                <div class="color-spans">

                                    {% assign stemArray = tree.fruit.autumn | split: ', '%}

                                    {% for color in stemArray %}

                                        <span class="tree-color {{color}}" title="{{color | capitalize}}"></span>

                                    {% endfor %}

                                </div>

                            </div>

                            {% endif %}

                            {% if tree.fruit.winter.size > 0 %}

                            <div class='color-div'>

                                <p class="extra-info">Winter Fruit:</p>

                                <div class="color-spans">

                                    {% assign stemArray = tree.fruit.winter | split: ', '%}

                                    {% for color in stemArray %}

                                        <span class="tree-color {{color}}" title="{{color | capitalize}}"></span>

                                    {% endfor %}

                                </div>

                            </div>

                            {% endif %}

                            {% if tree.fruit.spring.size > 0 %}

                            <div class='color-div'>

                                <p class="extra-info">Spring Fruit:</p>

                                <div class="color-spans">

                                    {% assign stemArray = tree.fruit.spring | split: ', '%}

                                    {% for color in stemArray %}

                                        <span class="tree-color {{color}}" title="{{color | capitalize}}"></span>

                                    {% endfor %}

                                </div>

                            </div>

                            {% endif %}

                        </div>

                        {% if tree.reproduction.size > 0 %}

                            {% if tree.reproduction == 'monoecious' %}

                            <p class="extra-info"><span>Reproduction:</span> Monoecious, separate male and female flowers on the same tree.</p>

                            {% elsif tree.reproduction == 'dioecious' %}

                            <p class="extra-info"><span>Reproduction:</span> Dioecious, separate male and female flowers on separate trees.</p>

                            {% elsif tree.reproduction == 'hermaphroditic' %}

                            <p class="extra-info"><span>Reproduction:</span> Hermaphroditic, single flowers with both fully functional male and female parts on the same tree (also known as cosexual and perfect flowers).</p>

                            {% else %}

                            {% endif %}

                        {% endif %}

                    </div>

                    <div id="more-info">

                        {% if origin != "" and origin.length > 0 %}

                            <p>{{ origin | capitalize }}</p>

                        {% endif %}

                        {% if winterFoliage != "" and winterFoliage.length > 0 %}

                            <p>{{ winterFoliage | capitalize }}</p>

                        {% endif %}

                        {% if types != "" and types.length > 0 %}

                            {% assign typesArray = types | split: ', ' %}

                            {% for item in typesArray %}

                                <p>{{ item | replace: '-', ' ' | capitalize }}</p>

                            {% endfor %}

                        {% endif %}

                        {% if tolerates != "" and tolerates.length > 0 %}

                            {% assign toleratesArray = tolerates | split: ', ' %}

                            {% for item in toleratesArray %}

                                {% if item == 'drought' or item == 'heavy-rainfall' or item == 'light-frosts' or item == 'heavy-frosts' %}

                                    <p>{{ item | replace: '-', ' ' | capitalize }}</p>

                                {% else %}

                                    <p>{{ item | replace: '-', ' ' | capitalize }} sites</p>

                                {% endif %}

                            {% endfor %}

                        {% endif %}

                        {% if soilType != "" and soilType.length > 0 %}

                            {% assign soilArray = soilType | split: ', ' %}

                            {% for item in soilArray %}

                                <p>{{ item | replace: '-', ' ' | capitalize }}</p>

                            {% endfor %}

                        {% endif %}

                        {% if sunShade != "" and sunShade.length > 0 %}

                            {% assign sunArray = sunShade | split: ', ' %}

                            {% for item in sunArray %}

                                <p>{{ item | replace: '-', ' ' | capitalize }}</p>

                            {% endfor %}

                        {% endif %}

                        {% if uses != "" and uses.length > 0 %}

                            {% assign usesArray = uses | split: ', ' %}

                            {% for item in usesArray %}

                                {% if item contains '-' %}

                                    <p>{{ item | replace: '-', ' ' | capitalize }}</p>

                                {% else %}

                                    <p>{{ item | capitalize }}</p>

                                {% endif %}

                            {% endfor %}

                        {% endif %}

                    </div>

                </div>

            </div>

        </div>

    </div>

    <div class="images">

        <div class="thumb-image-div">
            <img class="thumb-image-low" src="https://leafland.co.nz/cdn-cgi/image/format=auto,metadata=none,quality=1,width=50,blur=10/https://files.leafland.co.nz/{{ mainImage }}" width="75" height="75" alt="{{ url | replace: '-', ' ' }}" id="thumb-image-low-main" loading="eager">
            <img class="thumb-image" src="https://leafland.co.nz/cdn-cgi/image/format=auto,metadata=none,quality=75,width=150/https://files.leafland.co.nz/{{ mainImage }}" width="75" height="75" alt="{{ url | replace: '-', ' ' }}" class="thumb-image-full" onload="document.querySelector('#thumb-image-low-main').style.setProperty('display','none')" loading="lazy">
        </div>

        {% for image in tree.images %}

        {% assign imageInfo = image | split: "&" %}
        <div class="thumb-image-div">
            <img class="thumb-image-low" src="https://leafland.co.nz/cdn-cgi/image/format=auto,metadata=none,quality=1,width=50,blur=5/https://files.leafland.co.nz/{{ imageInfo[0] }}" width="75" height="75" alt="{{ imageInfo[1] }}" id="thumb-image-low-{{forloop.index}}" loading="eager">
            <img class="thumb-image" src="https://leafland.co.nz/cdn-cgi/image/format=auto,metadata=none,quality=75,width=150/https://files.leafland.co.nz/{{ imageInfo[0] }}" width="75" height="75" alt="{{ imageInfo[1] }}" class="thumb-image-full" onload="document.querySelector('#thumb-image-low-{{forloop.index}}').style.setProperty('display','none')" loading="lazy">
        </div>
        {% endfor %}

    </div>

</div>

