---
layout: layouts/base.liquid
type: product
---

<div id="content">

    <div id="tree-name-block">

        {% if tree.cultivar.size > 0 %}

            {% if tree.form.size > 0 %}

            <h1 class="tree-botanical-name"><i>{{ tree.genus }}</i> <i>{{ tree.species }}</i> f. <i>{{ tree.form }}</i> '{{ tree.cultivar }}'</span></h1>

            {% elsif tree.variety.size > 0 %}

            <h1 class="tree-botanical-name"><i>{{ tree.genus }}</i> <i>{{ tree.species }}</i> var. <i>{{ tree.variety }}</i> '{{ tree.cultivar }}'</span></h1>

            {% elsif tree.subspecies.size > 0 %}

            <h1 class="tree-botanical-name"><i>{{ tree.genus }}</i> <i>{{ tree.species }}</i> subsp. <i>{{ tree.subspecies }}</i> '{{ tree.cultivar }}'</span></h1>

            {% elsif tree.hybrid.size > 0 %}

            {% if tree.hybrid contains ' x ' %}

            {% assign text = tree.hybrid | split: ' x ' %}

            {% assign newText = text | join: '</i> x <i>' %}

            <h1 class="tree-botanical-name"><i>{{ tree.genus }}</i> <i>{{ newText }}</i> '{{ tree.cultivar }}'</span></h1>

            {% else %}

            <h1 class="tree-botanical-name"><i>{{ tree.genus }}</i> x <i>{{ tree.hybrid }}</i> '{{ tree.cultivar }}'</span></h1>

            {% endif %}

            {% else %}

                {% if tree.species.size > 0 %}

                <h1 class="tree-botanical-name"><i>{{ tree.genus }}</i> <i>{{ tree.species }}</i> '{{ tree.cultivar }}'</span></h1>

                {% else %}

                <h1 class="tree-botanical-name"><i>{{ tree.genus }}</i> '{{ tree.cultivar }}'</span></h1>

                {% endif %}

            {% endif %}

        {% elsif tree.form.size > 0 %}

        <h1 class="tree-botanical-name"><i>{{ tree.genus }}</i> <i>{{ tree.species }}</i> f. <i>{{ tree.form }}</i></h1>

        {% elsif tree.variety.size > 0 %}

        <h1 class="tree-botanical-name"><i>{{ tree.genus }}</i> <i>{{ tree.species }}</i> var. <i>{{ tree.variety }}</i></h1>

        {% elsif tree.subspecies.size > 0 %}

        <h1 class="tree-botanical-name"><i>{{ tree.genus }}</i> <i>{{ tree.species }}</i> subsp. <i>{{ tree.subspecies }}</i></h1>

        {% elsif tree.hybrid.size > 0 %}

        {% if tree.hybrid contains ' x ' %}

        {% assign text = tree.hybrid | split: ' x ' %}

        {% assign newText = text | join: '</i> x <i>' %}

        <h1 class="tree-botanical-name"><i>{{ tree.genus }}</i> <i>{{ newText }}</i></h1>

        {% else %}

        <h1 class="tree-botanical-name"><i>{{ tree.genus }}</i> x <i>{{ tree.hybrid }}</i></h1>

        {% endif %}

        {% else %}

        <h1 class="tree-botanical-name"><i>{{ tree.genus }}</i> <i>{{ tree.species }}</i></h1>

        {% endif %}

        {% if commonName != '' %}
        <h2 class="tree-common-name">{{ commonName }}</h2>
        {% else %}
        <h2 class="tree-common-name" style="display:none"></h2>
        {% endif %}
    </div>

    {% comment %} <div id="heading-buttons">

        <a href="#order" class="button">Order Tree</a>
    <a href="#taxonomy" class="button">Taxonomy</a>

        {% if tree.relatedTrees.size > 0 %}

        <a href="#related-trees" class="button">Related Trees</a>

        {% endif %} 

    </div> {% endcomment %}

    <div id="grid-content">

        <div id="grid-content-left">

            <div id="main-image">

                <button id="image-left-button">

                    <img src="https://leafland.imgix.net/images/icons/interface/left.svg" class="left-icon" width="40" height="40">

                </button>

                <button id="image-right-button">

                    <img src="https://leafland.imgix.net/images/icons/interface/right.svg" class="right-icon" width="40" height="40">

                </button>
            
                <div id="main-image-inner">
                
                    <img src="https://leafland.imgix.net/images/trees/{{ mainImage }}?auto=format&w=500&q=75" height="500" width="500" alt="{{ url | replace: '-', ' ' }}" loading="eager" class="main-img" style="opacity: 1;">
                
                </div>
            
            </div>

            <div class="images">

                <div class="image">

                    <img data-position="{% increment position %}" class="thumb-image" src="https://leafland.imgix.net/images/trees/{{ mainImage }}?auto=format&w=75&q=75" width="50" height="50" alt="{{ url | replace: '-', ' ' }}">

                </div>

                {% for image in tree.images %}
                
                <div class="image">

                    <img data-position="{% increment position %}" class="thumb-image" src="https://leafland.imgix.net/{{ image.src }}?auto=format&w=75&q=75" width="50" height="50" alt="{{ image.alt }}" >
                    
                </div>

                {% endfor %}

            </div>

        </div>

        <div id="grid-content-right">

            <div id="tree-info">

                <div id="tree-info-description-icons">

                    {% comment %} {% if commonName != '' %}
                    <h3 id="tree-info-heading">{{ botanicalName }} ({{ commonName }})</h3>
                    {% else %}
                    <h3 id="tree-info-heading">{{ botanicalName }}</h3>
                    {% endif %} {% endcomment %}

                    <p class="tree-description">{{ description }}</p>

                    <div id="tree-icons">

                        {% if origin != "" and origin.length > 0 %}

                            <div class="icon-div">
                            
                                <img class="tree-icon" src="https://leafland.imgix.net/images/icons/tree-attributes/{{ origin }}.svg" width="40" height="40" alt="{{ origin }} tree">
                                <span class="tooltip">{{ origin | capitalize }}</span>
                            
                            </div>

                        {% endif %}

                        {% if winterFoliage != "" and winterFoliage.length > 0 %}

                            <div class="icon-div">
                            
                                <img class="tree-icon" src="https://leafland.imgix.net/images/icons/tree-attributes/{{ winterFoliage }}.svg" width="40" height="40" alt="{{ winterFoliage }} tree">
                                <span class="tooltip">{{ winterFoliage | capitalize }}</span>
                            
                            </div>

                        {% endif %}

                        {% if types != "" and types.length > 0 %}

                            {% assign typesArray = types | split: ', ' %}

                            {% for item in typesArray %}

                                <div class="icon-div">
                                
                                    <img class="tree-icon" src="https://leafland.imgix.net/images/icons/tree-attributes/{{ item }}.svg" width="40" height="40" alt="{{ item | replace: '-', ' ' }} tree">
                                    <span class="tooltip">{{ item | replace: '-', ' ' | capitalize }}</span>
                                
                                </div>

                            {% endfor %}

                        {% endif %}

                        {% if tolerates != "" and tolerates.length > 0 %}

                            {% assign toleratesArray = tolerates | split: ', ' %}

                            {% for item in toleratesArray %}

                                {% if item == 'drought' or item == 'heavy-rainfall' or item == 'light-frosts' or item == 'heavy-frosts' %}

                                    <div class="icon-div">
                                    
                                        <img class="tree-icon" src="https://leafland.imgix.net/images/icons/tree-attributes/{{ item }}.svg" width="40" height="40" alt="tolerates {{ item | replace: '-', ' ' }}">
                                        <span class="tooltip">Tolerates {{ item | replace: '-', ' ' }}</span>
                                    
                                    </div>

                                {% else %}

                                    <div class="icon-div">
                                    
                                        <img class="tree-icon" src="https://leafland.imgix.net/images/icons/tree-attributes/{{ item }}.svg" width="40" height="40" alt="tolerates {{ item | replace: '-', ' ' }} sites">
                                        <span class="tooltip">Tolerates {{ item | replace: '-', ' ' }} sites</span>
                                    
                                    </div>

                                {% endif %}

                            {% endfor %}

                        {% endif %}

                        {% if soilType != "" and soilType.length > 0 %}

                            {% assign soilArray = soilType | split: ', ' %}

                            {% for item in soilArray %}

                                <div class="icon-div">
                                
                                    <img class="tree-icon" src="https://leafland.imgix.net/images/icons/tree-attributes/{{ item }}.svg" width="40" height="40" alt="{{ item | replace: '-', ' ' }}">
                                    <span class="tooltip">{{ item | replace: '-', ' ' | capitalize }}</span>
                                
                                </div>

                            {% endfor %}

                        {% endif %}

                        {% if sunShade != "" and sunShade.length > 0 %}

                            {% assign sunArray = sunShade | split: ', ' %}

                            {% for item in sunArray %}

                                <div class="icon-div">
                                
                                    <img class="tree-icon" src="https://leafland.imgix.net/images/icons/tree-attributes/{{ item }}.svg" width="40" height="40" alt="{{ item | replace: '-', ' '}}">
                                    <span class="tooltip">{{ item | replace: '-', ' ' | capitalize }}</span>
                                
                                </div>

                            {% endfor %}

                        {% endif %}

                        {% if uses != "" and uses.length > 0 %}

                            {% assign usesArray = uses | split: ', ' %}

                            {% for item in usesArray %}

                                {% if item contains '-' %}

                                    <div class="icon-div">
                                    
                                        <img class="tree-icon" src="https://leafland.imgix.net/images/icons/tree-attributes/{{ item }}.svg" width="40" height="40" alt="{{ item | replace: '-', ' ' }}">
                                        <span class="tooltip">{{ item | replace: '-', ' ' | capitalize }}</span>
                                    
                                    </div>

                                {% else %}

                                    <div class="icon-div">
                                    
                                        <img class="tree-icon" src="https://leafland.imgix.net/images/icons/tree-attributes/{{ item }}.svg" width="40" height="40" alt="{{ item }}">
                                        <span class="tooltip">{{ item | capitalize }}</span>
                                    
                                    </div>

                                {% endif %}

                            {% endfor %}

                        {% endif %}

                    </div>

                    {% comment %} <button id="open-features">View Features Table</button> {% endcomment %}

                </div>

            </div>

        </div>

    </div>

    <div id="grid-content-middle">

        <div id="features-table">

            <table>

                <tr>

                    <th></th>

                    <th>Stem</th>

                    <th>Foliage</th>

                    <th>Flowers</th>

                    <th>Fruit</th>
                
                </tr>


                <tr>

                    <th>Summer</th>

                    <td>

                        {% if tree.stem.summer.size > 0 %}

                        <div class="color-spans">

                            {% assign stemArray = tree.stem.summer | split: ', '%}

                            {% for color in stemArray %}

                                <span class="tree-color {{color}}"></span>

                            {% endfor %}

                        </div>

                        {% else %}

                        <div class="color-spans">

                        </div>

                        {% endif %}

                    </td>

                    <td>

                        {% if tree.foliage.summer.size > 0 %}

                        <div class="color-spans">

                            {% assign foliageArray = tree.foliage.summer | split: ', '%}

                            {% for color in foliageArray %}

                                <span class="tree-color {{color}}"></span>

                            {% endfor %}

                        </div>

                        {% else %}

                        <div class="color-spans">

                        </div>

                        {% endif %}

                    </td>

                    <td>

                        {% if tree.flowers.summer.size > 0 %}

                        <div class="color-spans">

                            {% assign flowerArray = tree.flowers.summer | split: ', '%}

                            {% for color in flowerArray %}

                                <span class="tree-color {{color}}"></span>

                            {% endfor %}

                        </div>

                        {% else %}

                        <div class="color-spans">

                        </div>

                        {% endif %}

                    </td>

                    <td>

                        {% if tree.fruit.summer.size > 0 %}

                        <div class="color-spans">

                            {% assign fruitingArray = tree.fruit.summer | split: ', '%}

                            {% for color in fruitingArray %}

                                <span class="tree-color {{color}}"></span>

                            {% endfor %}

                        </div>

                        {% else %}

                        <div class="color-spans">

                        </div>

                        {% endif %}

                    </td>
                
                </tr>

                <tr>

                    <th>Autumn</th>

                    <td>

                        {% if tree.stem.autumn.size > 0 %}

                        <div class="color-spans">

                            {% assign stemArray = tree.stem.autumn | split: ', '%}

                            {% for color in stemArray %}

                                <span class="tree-color {{color}}"></span>

                            {% endfor %}

                        </div>

                        {% else %}

                        <div class="color-spans">

                        </div>

                        {% endif %}

                    </td>

                    <td>

                        {% if tree.foliage.autumn.size > 0 %}

                        <div class="color-spans">

                            {% assign foliageArray = tree.foliage.autumn | split: ', '%}

                            {% for color in foliageArray %}

                                <span class="tree-color {{color}}"></span>

                            {% endfor %}

                        </div>

                        {% else %}

                        <div class="color-spans">

                        </div>

                        {% endif %}

                    </td>

                    <td>

                        {% if tree.flowers.autumn.size > 0 %}

                        <div class="color-spans">

                            {% assign flowerArray = tree.flowers.autumn | split: ', '%}

                            {% for color in flowerArray %}

                                <span class="tree-color {{color}}"></span>

                            {% endfor %}

                        </div>

                        {% else %}

                        <div class="color-spans">

                        </div>

                        {% endif %}

                    </td>

                    <td>

                        {% if tree.fruit.autumn.size > 0 %}

                        <div class="color-spans">

                            {% assign fruitingArray = tree.fruit.autumn | split: ', '%}

                            {% for color in fruitingArray %}

                                <span class="tree-color {{color}}"></span>

                            {% endfor %}

                        </div>

                        {% else %}

                        <div class="color-spans">

                        </div>

                        {% endif %}

                    </td>
                
                </tr>

                <tr>

                    <th>Winter</th>

                    <td>

                        {% if tree.stem.winter.size > 0 %}

                        <div class="color-spans">

                            {% assign stemArray = tree.stem.winter | split: ', '%}

                            {% for color in stemArray %}

                                <span class="tree-color {{color}}"></span>

                            {% endfor %}

                        </div>

                        {% else %}

                        <div class="color-spans">

                        </div>

                        {% endif %}

                    </td>

                    <td>

                        {% if tree.foliage.winter.size > 0 %}

                        <div class="color-spans">

                            {% assign foliageArray = tree.foliage.winter | split: ', '%}

                            {% for color in foliageArray %}

                                <span class="tree-color {{color}}"></span>

                            {% endfor %}

                        </div>

                        {% else %}

                        <div class="color-spans">

                        </div>

                        {% endif %}

                    </td>

                    <td>

                        {% if tree.flowers.winter.size > 0 %}

                        <div class="color-spans">

                            {% assign flowerArray = tree.flowers.winter | split: ', '%}

                            {% for color in flowerArray %}

                                <span class="tree-color {{color}}"></span>

                            {% endfor %}

                        </div>

                        {% else %}

                        <div class="color-spans">

                        </div>

                        {% endif %}

                    </td>

                    <td>

                        {% if tree.fruit.winter.size > 0 %}

                        <div class="color-spans">

                            {% assign fruitingArray = tree.fruit.winter | split: ', '%}

                            {% for color in fruitingArray %}

                                <span class="tree-color {{color}}"></span>

                            {% endfor %}

                        </div>

                        {% else %}

                        <div class="color-spans">

                        </div>

                        {% endif %}

                    </td>
                
                </tr>

                <tr>

                    <th>Spring</th>

                    <td>

                        {% if tree.stem.spring.size > 0 %}

                        <div class="color-spans">

                            {% assign stemArray = tree.stem.spring | split: ', '%}

                            {% for color in stemArray %}

                                <span class="tree-color {{color}}"></span>

                            {% endfor %}

                        </div>

                        {% else %}

                        <div class="color-spans">

                        </div>

                        {% endif %}

                    </td>

                    <td>

                        {% if tree.foliage.spring.size > 0 %}

                        <div class="color-spans">

                            {% assign foliageArray = tree.foliage.spring | split: ', '%}

                            {% for color in foliageArray %}

                                <span class="tree-color {{color}}"></span>

                            {% endfor %}

                        </div>

                        {% else %}

                        <div class="color-spans">

                        </div>

                        {% endif %}

                    </td>

                    <td>

                        {% if tree.flowers.spring.size > 0 %}

                        <div class="color-spans">

                            {% assign flowerArray = tree.flowers.spring | split: ', '%}

                            {% for color in flowerArray %}

                                <span class="tree-color {{color}}"></span>

                            {% endfor %}

                        </div>

                        {% else %}

                        <div class="color-spans">

                        </div>

                        {% endif %}

                    </td>

                    <td>

                        {% if tree.fruit.spring.size > 0 %}

                        <div class="color-spans">

                            {% assign fruitingArray = tree.fruit.spring | split: ', '%}

                            {% for color in fruitingArray %}

                                <span class="tree-color {{color}}"></span>

                            {% endfor %}

                        </div>

                        {% else %}

                        <div class="color-spans">

                        </div>

                        {% endif %}

                    </td>
                
                </tr>

            </table>

        </div>

        <div id="tree-info-tree-shape">

            <div id="tree-shape">

                <p class="paragraph-title">10 Year Size</p>

                <img id="tree-shape-image" src="https://leafland.imgix.net/{{ treeShape }}" width="300" height="300" alt="tree shape">
                
                <div id="height-div">
                    <span class="arrow" id="arrow-up">↑</span>
                    <span id="height-span">{{tree.height}}</span>
                    <span class="arrow" id="arrow-down">↓</span>
                </div>

                <div id="width-div">
                    <span class="arrow" id="arrow-left">←</span>
                    <span id="width-span">{{tree.width}}</span>
                    <span class="arrow" id="arrow-right">→</span>
                </div>

            </div>

        </div>

    </div>

    <div id="information-section">
        <div id="taxonomy-section">

            {% comment %} <h3 id="taxonomy">Taxonomy</h3> {% endcomment %}

            <div id="taxonomy-inner">

            {% if tree.family.size > 0 %}

                        {% if tree.nameBreakdown.family.size > 0 %}

                            <div>

                                <p><span class="tree-information-heading">Family:</span> <span class="tree-name"><i>{{ tree.family }}</i></span>, {{tree.nameBreakdown.family}}</p>

                            </div>

                            {% else %}

                            <div>

                                <p><span class="tree-information-heading">Family:</span> <span class="tree-name"><i>{{ tree.family }}</i></span></p>

                            </div>

                        {% endif %}

                    {% endif %}

                    {% if tree.genus.size > 0 %}

                        {% if tree.nameBreakdown.genus.size > 0 %}

                            <div>

                                <p><span class="tree-information-heading">Genus:</span> <span class="tree-name"><i>{{ tree.genus }}</i></span>, {{tree.nameBreakdown.genus}}</p>

                            </div>

                            {% else %}

                            <div>

                                <p><span class="tree-information-heading">Genus:</span> <span class="tree-name"><i>{{ tree.genus }}</i></span></p>

                            </div>

                        {% endif %}

                    {% endif %}

                    {% if tree.species.size > 0 %}

                        {% if tree.nameBreakdown.species.size > 0 %}

                            <div>

                                <p><span class="tree-information-heading">Species:</span> <span class="tree-name"><i>{{ tree.genus }}</i> <i>{{ tree.species }}</i></span>, {{tree.nameBreakdown.species}}</p>

                            </div>

                            {% else %}

                            <div>

                                <p><span class="tree-information-heading">Species:</span> <span class="tree-name"><i>{{ tree.genus }}</i> <i>{{ tree.species }}</i></span></p>

                            </div>

                        {% endif %}

                    {% endif %}

                    {% if tree.hybrid.size > 0 %}

                        {% if tree.hybrid contains ' x ' %}

                        {% assign text = tree.hybrid | split: ' x ' %}

                        {% assign newText = text | join: '</i> x <i>' %}

                            {% if tree.nameBreakdown.hybrid.size > 0 %}

                            <div>

                                <p><span class="tree-information-heading">Species:</span> <span class="tree-name"><i>{{ tree.genus }}</i> <i>{{ newText }}</i></span>, {{tree.nameBreakdown.hybrid}}</p>

                            </div>

                            {% else %}

                            <div>

                                <p><span class="tree-information-heading">Species:</span> <span class="tree-name"><i>{{ tree.genus }}</i> <i>{{ newText }}</i></span></p>

                            </div>

                            {% endif %}

                        {% else %}

                            {% if tree.nameBreakdown.hybrid.size > 0 %}

                                <div>

                                    <p><span class="tree-information-heading">Species:</span> <span class="tree-name"><i>{{ tree.genus }}</i> x <i>{{ tree.hybrid }}</i></span>, {{tree.nameBreakdown.hybrid}}</p>

                                </div>

                                {% else %}

                                <div>

                                    <p><span class="tree-information-heading">Species:</span> <span class="tree-name"><i>{{ tree.genus }}</i> x <i>{{ tree.hybrid }}</i></span></p>

                                </div>

                            {% endif %}

                        {% endif %}

                    {% endif %}

                    {% if tree.subspecies.size > 0 %}

                        {% if tree.nameBreakdown.subspecies.size > 0 %}

                        <div>

                            <p><span class="tree-information-heading">Subspecies:</span> <span class="tree-name"><i>{{ tree.genus }}</i> <i>{{ tree.species }}</i> subsp. <i>{{ tree.subspecies }}</i></span>, {{tree.nameBreakdown.subspecies}}</p>

                        </div>

                        {% else %}

                        <div>

                            <p><span class="tree-information-heading">Subspecies:</span> <span class="tree-name"><i>{{ tree.genus }}</i> <i>{{ tree.species }}</i> subsp. <i>{{ tree.subspecies }}</i></span></p>

                        </div>

                        {% endif %}

                    {% endif %}

                    {% if tree.variety.size > 0 %}

                        {% if tree.nameBreakdown.variety.size > 0 %}

                        <div>

                            <p><span class="tree-information-heading">Variety:</span> <span class="tree-name"><i>{{ tree.genus }}</i> <i>{{ tree.species }}</i> var. <i>{{ tree.variety }}</i></span>, {{tree.nameBreakdown.variety}}</p>

                        </div>

                        {% else %}

                        <div>

                            <p><span class="tree-information-heading">Variety:</span> <span class="tree-name"><i>{{ tree.genus }}</i> <i>{{ tree.species }}</i> var. <i>{{ tree.variety }}</i></span></p>

                        </div>

                        {% endif %}

                    {% endif %}

                    {% if tree.form.size > 0 %}

                        {% if tree.nameBreakdown.form.size > 0 %}

                        <div>

                            <p><span class="tree-information-heading">Form:</span> <span class="tree-name"><i>{{ tree.genus }}</i> <i>{{ tree.species }}</i> f. <i>{{ tree.form }}</i></span>, {{tree.nameBreakdown.form}}</p>

                        </div>

                        {% else %}

                        <div>

                            <p><span class="tree-information-heading">Form:</span> <span class="tree-name"><i>{{ tree.genus }}</i> <i>{{ tree.species }}</i> f. <i>{{ tree.form }}</i></span></p>

                        </div>

                        {% endif %}

                    {% endif %}

                    {% if tree.cultivar.size > 0 %}

                    <div>

                            {% if tree.form.size > 0 %}

                            <p><span class="tree-information-heading">Cultivar:</span> <span class="tree-name"><i>{{ tree.genus }}</i> <i>{{ tree.species }}</i> f. <i>{{ tree.form }}</i> '{{ tree.cultivar }}'</span></span></p>

                            {% elsif tree.variety.size > 0 %}

                            <p><span class="tree-information-heading">Cultivar:</span> <span class="tree-name"><i>{{ tree.genus }}</i> <i>{{ tree.species }}</i> var. <i>{{ tree.variety }}</i> '{{ tree.cultivar }}'</span></p>

                            {% elsif tree.subspecies.size > 0 %}

                            <p><span class="tree-information-heading">Cultivar:</span> <span class="tree-name"><i>{{ tree.genus }}</i> <i>{{ tree.species }}</i> subsp. <i>{{ tree.subspecies }}</i> '{{ tree.cultivar }}'</span></p>

                            {% elsif tree.hybrid.size > 0 %}

                            {% if tree.hybrid contains ' x ' %}

                            {% assign text = tree.hybrid | split: ' x ' %}

                            {% assign newText = text | join: '</i> x <i>' %}

                            <p><span class="tree-information-heading">Cultivar:</span> <span class="tree-name"><i>{{ tree.genus }}</i> <i>{{ newText }}</i> '{{ tree.cultivar }}'</span></p>

                            {% else %}

                            <p><span class="tree-information-heading">Cultivar:</span> <span class="tree-name"><i>{{ tree.genus }}</i> x <i>{{ tree.hybrid }}</i> '{{ tree.cultivar }}'</span></p>

                            {% endif %}

                            {% else %}

                            <p><span class="tree-information-heading">Cultivar:</span> <span class="tree-name"><i>{{ tree.genus }}</i> <i>{{ tree.species }}</i> '{{ tree.cultivar }}'</span></p>

                            {% endif %}

                    </div>

                    {% endif %}

                    {% if tree.synonyms.size > 0 %}

                    <div>

                        {% assign newString = "" %}

                        {% for item in tree.synonyms %}

                        {% capture newItem %}{% endcapture %}

                        {% if item.cultivar.size > 0 %}

                            {% if item.form.size > 0 %}

                            {% capture newItem %}<i>{{ item.genus }}</i> <i>{{ item.species }}</i> f. <i>{{ item.form }}</i> '{{ item.cultivar }}'{% endcapture %}

                            {% elsif item.variety.size > 0 %}

                            {% capture newItem %}<i>{{ item.genus }}</i> <i>{{ item.species }}</i> var. <i>{{ item.variety }}</i> '{{ item.cultivar }}'{% endcapture %}

                            {% elsif item.subspecies.size > 0 %}

                            {% capture newItem %}<i>{{ item.genus }}</i> <i>{{ item.species }}</i> subsp. <i>{{ item.subspecies }}</i> '{{ item.cultivar }}'{% endcapture %}

                            {% elsif item.hybrid.size > 0 %}

                            {% if item.hybrid contains ' x ' %}

                            {% assign text = tree.hybrid | split: ' x ' %}

                            {% assign newText = text | join: '</i> x <i>' %}

                            {% capture newItem %}<i>{{ item.genus }}</i> <i>{{ newText }}</i> '{{ item.cultivar }}'{% endcapture %}

                            {% else %}

                            {% capture newItem %}<i>{{ item.genus }}</i> x <i>{{ item.hybrid }}</i> '{{ item.cultivar }}'{% endcapture %}

                            {% endif %}

                            {% else %}

                                {% if item.species.size > 0 %}

                                {% capture newItem %}<i>{{ item.genus }}</i> <i>{{ item.species }}</i> '{{ item.cultivar }}'{% endcapture %}

                                {% else %}

                                {% capture newItem %}<i>{{ item.genus }}</i> '{{ item.cultivar }}'{% endcapture %}

                                {% endif %}

                            {% endif %}

                        {% elsif item.form.size > 0 %}

                        {% capture newItem %}<i>{{ item.genus }}</i> <i>{{ item.species }}</i> f. <i>{{ item.form }}</i>{% endcapture %}

                        {% elsif item.variety.size > 0 %}

                        {% capture newItem %}<i>{{ item.genus }}</i> <i>{{ item.species }}</i> var. <i>{{ item.variety }}</i>{% endcapture %}

                        {% elsif item.subspecies.size > 0 %}

                        {% capture newItem %}<i>{{ item.genus }}</i> <i>{{ item.species }}</i> subsp. <i>{{ item.subspecies }}</i>{% endcapture %}

                        {% elsif item.hybrid.size > 0 %}

                        {% if item.hybrid contains ' x ' %}

                        {% assign text = tree.hybrid | split: ' x ' %}

                        {% assign newText = text | join: '</i> x <i>' %}

                        {% capture newItem %}<i>{{ item.genus }}</i> <i>{{ newText }}</i>{% endcapture %}

                        {% else %}

                        {% capture newItem %}<i>{{ item.genus }}</i> x <i>{{ item.hybrid }}</i>{% endcapture %}

                        {% endif %}

                        {% else %}

                        {% capture newItem %}<i>{{ item.genus }}</i> <i>{{ item.species }}</i>{% endcapture %}

                        {% endif %}

                        {% if newString == "" %}

                        {% assign newString = newString | append: newItem %}

                        {% else %}

                        {% assign newString = newString | append: ", " | append: newItem %}

                        {% endif %}

                        {% endfor %}

                        <p><span class="tree-information-heading">Synonyms:</span> <span class='tree-name'>{{ newString }}</span></p>

                    </div>

                    {% endif %}

                    {% if commonName.size > 0 %}

                    <div>

                        <p><span class="tree-information-heading">Common Name:</span> <span class='tree-name'>{{ commonName }}</span></p>

                    </div>

                    {% endif %}

                    {% if otherCommonNames.size > 0 %}

                    <div>

                        <p><span class="tree-information-heading">Other Common Name(s):</span> <span class='tree-name'>{{ otherCommonNames }}</span></p>

                    </div>

                    {% endif %}
            </div>


            
            {% if tree.links.size > 0 %}
            <button id="open-more-links">Links to Learn More</button>
            {% endif %}

        </div>

    </div>

    <div id="grid-content-bottom">

        <div id="grid-content-bottom-left">

            <div id="order-block">

                <button id="open-stock-table">View pricing and stock table</button>

                <div id="grade-sizes">

                    <div id="grade-select">

                        <div id="grade-size-selection" class="selection-grid"></div>

                    </div>

                </div>

            </div>

        </div>

    </div>


    {% if tree.relatedTrees.size > 0 %}
    <h3 id="related-trees">You may also like</h3>

    <div id="related-trees-section">
    
    {% for relatedTree in tree.relatedTrees %}

    <div class="related-tree">
        <div class="tree-image">
            <img src="https://leafland.imgix.net/images/trees/{{ relatedTree.mainImage }}?auto=format&w=500&q=75">
        </div>
        <div class="tree-content">
            <div>
                <h2>{{ relatedTree.botanicalName }}</h2>
                {% if relatedTree.commonName != '' %}
                <h3>{{ relatedTree.commonName }}</h3>
                {% endif %}
            </div>
            <a class="button tree-link" href="/trees/{{ relatedTree.url }}/">View Tree</a>
        </div>
    </div>

    {% endfor %}
    
    </div>
    {% endif %}

</div>

