---
layout: layouts/base.liquid
type: product
---

<div id="content">

    <div id="tree-name-block">

        {% if tree.cultivar.size > 0 %}

            {% if tree.form.size > 0 %}

            <h1 class="tree-botanical-name"><i>{{ tree.genus }}</i> <i>{{ tree.species }}</i> f. <i>{{ tree.form }}</i> '{{ tree.cultivar }}'</h1>

            {% elsif tree.variety.size > 0 %}

            <h1 class="tree-botanical-name"><i>{{ tree.genus }}</i> <i>{{ tree.species }}</i> var. <i>{{ tree.variety }}</i> '{{ tree.cultivar }}'</h1>

            {% elsif tree.subspecies.size > 0 %}

            <h1 class="tree-botanical-name"><i>{{ tree.genus }}</i> <i>{{ tree.species }}</i> subsp. <i>{{ tree.subspecies }}</i> '{{ tree.cultivar }}'</h1>

            {% elsif tree.hybrid.size > 0 %}

            {% if tree.hybrid contains ' x ' %}

            <h1 class="tree-botanical-name"><i>{{ tree.genus }}</i> <i>{{ tree.hybrid }}</i> '{{ tree.cultivar }}'</h1>

            {% else %}

            <h1 class="tree-botanical-name"><i>{{ tree.genus }}</i> x <i>{{ tree.hybrid }}</i> '{{ tree.cultivar }}'</h1>

            {% endif %}

            {% else %}

            <h1 class="tree-botanical-name"><i>{{ tree.genus }}</i> <i>{{ tree.species }}</i> '{{ tree.cultivar }}'</h1>

            {% endif %}

        {% elsif tree.form.size > 0 %}

        <h1 class="tree-botanical-name"><i>{{ tree.genus }}</i> <i>{{ tree.species }}</i> f. <i>{{ tree.form }}</i></h1>

        {% elsif tree.variety.size > 0 %}

        <h1 class="tree-botanical-name"><i>{{ tree.genus }}</i> <i>{{ tree.species }}</i> var. <i>{{ tree.variety }}</i></h1>

        {% elsif tree.subspecies.size > 0 %}

        <h1 class="tree-botanical-name"><i>{{ tree.genus }}</i> <i>{{ tree.species }}</i> subsp. <i>{{ tree.subspecies }}</i></h1>

        {% elsif tree.hybrid.size > 0 %}

        {% if tree.hybrid contains ' x ' %}

        <h1 class="tree-botanical-name"><i>{{ tree.genus }}</i> <i>{{ tree.hybrid }}</i></h1>

        {% else %}

        <h1 class="tree-botanical-name"><i>{{ tree.genus }}</i> x <i>{{ tree.hybrid }}</i></h1>

        {% endif %}

        {% else %}

        <h1 class="tree-botanical-name"><i>{{ tree.genus }}</i> <i>{{ tree.species }}</i></h1>

        {% endif %}

        {% if commonName != '' %}
        <h2 class="tree-common-name accent-color">{{ commonName }}</h2>
        {% else %}
        <h2 class="tree-common-name accent-color" style="display:none"></h2>
        {% endif %}
    </div>

    <div id="grid-content">

        <div id="grid-content-left">

            <div id="main-image">

                <button id="image-left-button">

                    <img src="https://leafland.imgix.net/images/icons/interface/left.svg" class="left-icon" width="40" height="40">

                </button>

                <button id="image-right-button">

                    <img src="https://leafland.imgix.net/images/icons/interface/right.svg" class="right-icon" width="40" height="40">

                </button>
            
                <div id="main-image-inner">
                
                    <img src="https://leafland.imgix.net/images/trees/{{ mainImage }}?auto=format&w=500&q=75" height="500" width="500" alt="{{ url | replace: '-', ' ' }}" loading="eager" class="main-img" style="opacity: 1;">
                
                </div>
            
            </div>

            <div class="images">

                <div class="image">

                    <img data-position="{% increment position %}" class="thumb-image" src="https://leafland.imgix.net/images/trees/{{ mainImage }}?auto=format&w=75&q=75" width="50" height="50" alt="{{ url | replace: '-', ' ' }}">

                </div>

                {% for image in tree.images %}
                
                <div class="image">

                    <img data-position="{% increment position %}" class="thumb-image" src="https://leafland.imgix.net/{{ image.src }}?auto=format&w=75&q=75" width="50" height="50" alt="{{ image.alt }}" >
                    
                </div>

                {% endfor %}

            </div>

        </div>

        <div id="grid-content-right">

            <div id="tree-info">

                <div id="tree-info-description-icons">

                    {% comment %} {% if commonName != '' %}
                    <h3 id="tree-info-heading">{{ botanicalName }} ({{ commonName }})</h3>
                    {% else %}
                    <h3 id="tree-info-heading">{{ botanicalName }}</h3>
                    {% endif %} {% endcomment %}

                    <p class="tree-description">{{ description }}</p>

                    <div id="tree-icons">

                        {% if origin != "" and origin.length > 0 %}

                            <div class="icon-div">
                            
                                <img class="tree-icon" src="https://leafland.imgix.net/images/icons/tree-attributes/{{ origin }}.svg" width="40" height="40" alt="{{ origin }} tree">
                                <span class="tooltip">{{ origin | capitalize }}</span>
                            
                            </div>

                        {% endif %}

                        {% if winterFoliage != "" and winterFoliage.length > 0 %}

                            <div class="icon-div">
                            
                                <img class="tree-icon" src="https://leafland.imgix.net/images/icons/tree-attributes/{{ winterFoliage }}.svg" width="40" height="40" alt="{{ winterFoliage }} tree">
                                <span class="tooltip">{{ winterFoliage | capitalize }}</span>
                            
                            </div>

                        {% endif %}

                        {% if types != "" and types.length > 0 %}

                            {% assign typesArray = types | split: ', ' %}

                            {% for item in typesArray %}

                                <div class="icon-div">
                                
                                    <img class="tree-icon" src="https://leafland.imgix.net/images/icons/tree-attributes/{{ item }}.svg" width="40" height="40" alt="{{ item | replace: '-', ' ' }} tree">
                                    <span class="tooltip">{{ item | replace: '-', ' ' | capitalize }}</span>
                                
                                </div>

                            {% endfor %}

                        {% endif %}

                        {% if tolerates != "" and tolerates.length > 0 %}

                            {% assign toleratesArray = tolerates | split: ', ' %}

                            {% for item in toleratesArray %}

                                {% if item == 'drought' or item == 'heavy-rainfall' or item == 'light-frosts' or item == 'heavy-frosts' %}

                                    <div class="icon-div">
                                    
                                        <img class="tree-icon" src="https://leafland.imgix.net/images/icons/tree-attributes/{{ item }}.svg" width="40" height="40" alt="tolerates {{ item | replace: '-', ' ' }}">
                                        <span class="tooltip">Tolerates {{ item | replace: '-', ' ' }}</span>
                                    
                                    </div>

                                {% else %}

                                    <div class="icon-div">
                                    
                                        <img class="tree-icon" src="https://leafland.imgix.net/images/icons/tree-attributes/{{ item }}.svg" width="40" height="40" alt="tolerates {{ item | replace: '-', ' ' }} sites">
                                        <span class="tooltip">Tolerates {{ item | replace: '-', ' ' }} sites</span>
                                    
                                    </div>

                                {% endif %}

                            {% endfor %}

                        {% endif %}

                        {% if soilType != "" and soilType.length > 0 %}

                            {% assign soilArray = soilType | split: ', ' %}

                            {% for item in soilArray %}

                                <div class="icon-div">
                                
                                    <img class="tree-icon" src="https://leafland.imgix.net/images/icons/tree-attributes/{{ item }}.svg" width="40" height="40" alt="{{ item | replace: '-', ' ' }}">
                                    <span class="tooltip">{{ item | replace: '-', ' ' | capitalize }}</span>
                                
                                </div>

                            {% endfor %}

                        {% endif %}

                        {% if sunShade != "" and sunShade.length > 0 %}

                            {% assign sunArray = sunShade | split: ', ' %}

                            {% for item in sunArray %}

                                <div class="icon-div">
                                
                                    <img class="tree-icon" src="https://leafland.imgix.net/images/icons/tree-attributes/{{ item }}.svg" width="40" height="40" alt="{{ item | replace: '-', ' '}}">
                                    <span class="tooltip">{{ item | replace: '-', ' ' | capitalize }}</span>
                                
                                </div>

                            {% endfor %}

                        {% endif %}

                        {% if uses != "" and uses.length > 0 %}

                            {% assign usesArray = uses | split: ', ' %}

                            {% for item in usesArray %}

                                {% if item contains '-' %}

                                    <div class="icon-div">
                                    
                                        <img class="tree-icon" src="https://leafland.imgix.net/images/icons/tree-attributes/{{ item }}.svg" width="40" height="40" alt="{{ item | replace: '-', ' ' }}">
                                        <span class="tooltip">{{ item | replace: '-', ' ' | capitalize }}</span>
                                    
                                    </div>

                                {% else %}

                                    <div class="icon-div">
                                    
                                        <img class="tree-icon" src="https://leafland.imgix.net/images/icons/tree-attributes/{{ item }}.svg" width="40" height="40" alt="{{ item }}">
                                        <span class="tooltip">{{ item | capitalize }}</span>
                                    
                                    </div>

                                {% endif %}

                            {% endfor %}

                        {% endif %}

                    </div>

                </div>

            </div>

        </div>

    </div>

    <div id="grid-content-middle">

        <div id="features-table">

            <table>

                <tr>

                    <th></th>

                    <th>Stem</th>

                    <th>Foliage</th>

                    <th>Flowers</th>

                    <th>Fruit</th>
                
                </tr>


                <tr>

                    <th>Summer</th>

                    <td>

                        {% if tree.stem.summer.size > 0 %}

                        <div class="color-spans">

                            {% assign stemArray = tree.stem.summer | split: ', '%}

                            {% for color in stemArray %}

                                <span class="tree-color {{color}}"></span>

                            {% endfor %}

                        </div>

                        {% else %}

                        <div class="color-spans">

                        </div>

                        {% endif %}

                    </td>

                    <td>

                        {% if tree.foliage.summer.size > 0 %}

                        <div class="color-spans">

                            {% assign foliageArray = tree.foliage.summer | split: ', '%}

                            {% for color in foliageArray %}

                                <span class="tree-color {{color}}"></span>

                            {% endfor %}

                        </div>

                        {% else %}

                        <div class="color-spans">

                        </div>

                        {% endif %}

                    </td>

                    <td>

                        {% if tree.flowers.summer.size > 0 %}

                        <div class="color-spans">

                            {% assign flowerArray = tree.flowers.summer | split: ', '%}

                            {% for color in flowerArray %}

                                <span class="tree-color {{color}}"></span>

                            {% endfor %}

                        </div>

                        {% else %}

                        <div class="color-spans">

                        </div>

                        {% endif %}

                    </td>

                    <td>

                        {% if tree.fruit.summer.size > 0 %}

                        <div class="color-spans">

                            {% assign fruitingArray = tree.fruit.summer | split: ', '%}

                            {% for color in fruitingArray %}

                                <span class="tree-color {{color}}"></span>

                            {% endfor %}

                        </div>

                        {% else %}

                        <div class="color-spans">

                        </div>

                        {% endif %}

                    </td>
                
                </tr>

                <tr>

                    <th>Autumn</th>

                    <td>

                        {% if tree.stem.autumn.size > 0 %}

                        <div class="color-spans">

                            {% assign stemArray = tree.stem.autumn | split: ', '%}

                            {% for color in stemArray %}

                                <span class="tree-color {{color}}"></span>

                            {% endfor %}

                        </div>

                        {% else %}

                        <div class="color-spans">

                        </div>

                        {% endif %}

                    </td>

                    <td>

                        {% if tree.foliage.autumn.size > 0 %}

                        <div class="color-spans">

                            {% assign foliageArray = tree.foliage.autumn | split: ', '%}

                            {% for color in foliageArray %}

                                <span class="tree-color {{color}}"></span>

                            {% endfor %}

                        </div>

                        {% else %}

                        <div class="color-spans">

                        </div>

                        {% endif %}

                    </td>

                    <td>

                        {% if tree.flowers.autumn.size > 0 %}

                        <div class="color-spans">

                            {% assign flowerArray = tree.flowers.autumn | split: ', '%}

                            {% for color in flowerArray %}

                                <span class="tree-color {{color}}"></span>

                            {% endfor %}

                        </div>

                        {% else %}

                        <div class="color-spans">

                        </div>

                        {% endif %}

                    </td>

                    <td>

                        {% if tree.fruit.autumn.size > 0 %}

                        <div class="color-spans">

                            {% assign fruitingArray = tree.fruit.autumn | split: ', '%}

                            {% for color in fruitingArray %}

                                <span class="tree-color {{color}}"></span>

                            {% endfor %}

                        </div>

                        {% else %}

                        <div class="color-spans">

                        </div>

                        {% endif %}

                    </td>
                
                </tr>

                <tr>

                    <th>Winter</th>

                    <td>

                        {% if tree.stem.winter.size > 0 %}

                        <div class="color-spans">

                            {% assign stemArray = tree.stem.winter | split: ', '%}

                            {% for color in stemArray %}

                                <span class="tree-color {{color}}"></span>

                            {% endfor %}

                        </div>

                        {% else %}

                        <div class="color-spans">

                        </div>

                        {% endif %}

                    </td>

                    <td>

                        {% if tree.foliage.winter.size > 0 %}

                        <div class="color-spans">

                            {% assign foliageArray = tree.foliage.winter | split: ', '%}

                            {% for color in foliageArray %}

                                <span class="tree-color {{color}}"></span>

                            {% endfor %}

                        </div>

                        {% else %}

                        <div class="color-spans">

                        </div>

                        {% endif %}

                    </td>

                    <td>

                        {% if tree.flowers.winter.size > 0 %}

                        <div class="color-spans">

                            {% assign flowerArray = tree.flowers.winter | split: ', '%}

                            {% for color in flowerArray %}

                                <span class="tree-color {{color}}"></span>

                            {% endfor %}

                        </div>

                        {% else %}

                        <div class="color-spans">

                        </div>

                        {% endif %}

                    </td>

                    <td>

                        {% if tree.fruit.winter.size > 0 %}

                        <div class="color-spans">

                            {% assign fruitingArray = tree.fruit.winter | split: ', '%}

                            {% for color in fruitingArray %}

                                <span class="tree-color {{color}}"></span>

                            {% endfor %}

                        </div>

                        {% else %}

                        <div class="color-spans">

                        </div>

                        {% endif %}

                    </td>
                
                </tr>

                <tr>

                    <th>Spring</th>

                    <td>

                        {% if tree.stem.spring.size > 0 %}

                        <div class="color-spans">

                            {% assign stemArray = tree.stem.spring | split: ', '%}

                            {% for color in stemArray %}

                                <span class="tree-color {{color}}"></span>

                            {% endfor %}

                        </div>

                        {% else %}

                        <div class="color-spans">

                        </div>

                        {% endif %}

                    </td>

                    <td>

                        {% if tree.foliage.spring.size > 0 %}

                        <div class="color-spans">

                            {% assign foliageArray = tree.foliage.spring | split: ', '%}

                            {% for color in foliageArray %}

                                <span class="tree-color {{color}}"></span>

                            {% endfor %}

                        </div>

                        {% else %}

                        <div class="color-spans">

                        </div>

                        {% endif %}

                    </td>

                    <td>

                        {% if tree.flowers.spring.size > 0 %}

                        <div class="color-spans">

                            {% assign flowerArray = tree.flowers.spring | split: ', '%}

                            {% for color in flowerArray %}

                                <span class="tree-color {{color}}"></span>

                            {% endfor %}

                        </div>

                        {% else %}

                        <div class="color-spans">

                        </div>

                        {% endif %}

                    </td>

                    <td>

                        {% if tree.fruit.spring.size > 0 %}

                        <div class="color-spans">

                            {% assign fruitingArray = tree.fruit.spring | split: ', '%}

                            {% for color in fruitingArray %}

                                <span class="tree-color {{color}}"></span>

                            {% endfor %}

                        </div>

                        {% else %}

                        <div class="color-spans">

                        </div>

                        {% endif %}

                    </td>
                
                </tr>

            </table>

        </div>

        <div id="tree-info-tree-shape">

            <div id="tree-shape">

                <p class="paragraph-title">10 Year Size</p>

                <img id="tree-shape-image" src="https://leafland.imgix.net/{{ treeShape }}" width="300" height="300" alt="tree shape">
                
                <div id="height-div">
                    <span class="arrow" id="arrow-up">↑</span>
                    <span id="height-span">{{tree.height}}</span>
                    <span class="arrow" id="arrow-down">↓</span>
                </div>

                <div id="width-div">
                    <span class="arrow" id="arrow-left">←</span>
                    <span id="width-span">{{tree.width}}</span>
                    <span class="arrow" id="arrow-right">→</span>
                </div>

            </div>

        </div>

    </div>

    <div id="grid-content-bottom">

        <div id="grid-content-bottom-left">

            <div id="order-block">

                {% comment %} <p class="block-title">Pricing and stock availability</p> {% endcomment %}

                {% comment %} <h3 id="grade-sizes-heading">Add to order</h3> {% endcomment %}

                <button id="open-stock-table">View pricing and stock numbers</button>

                <div id="grade-sizes">

                    <div id="grade-select">

                        <div id="grade-select-buttons">

                            <div class="grade-select-grid-div">
                                {% comment %} <label for="grade-size">Grade Size</label>
                                <select name="grade-size" id="grade-size-select">

                                    <option selected disabled hidden>Select grade</option>
                                
                                </select> {% endcomment %}

                                <p>Select a grade size</p>
                                <div id="grade-size-selection" class="selection-grid"></div>
                            </div>

                            <div class="grade-select-grid-div">
                                {% comment %} <label for="height">Average height</label>
                                <select disabled name="height" id="height-select">
                                
                                    <option selected disabled hidden>Select height</option>
                                
                                </select> {% endcomment %}

                                <p>Select a height</p>
                                <div id="average-height-selection" class="selection-grid">

                                    <span class="selection-box-disabled">None</span>
                                
                                </div>
                            </div>

                            <div class="grade-select-grid-div">
                                {% comment %} <label for="standard-height">Standard height</label>
                                <select disabled name="standard-height" id="standard-height-select">
                                
                                    <option selected disabled hidden>Select height</option>
                                
                                </select> {% endcomment %}

                                <p>Select a standard height</p>
                                <div id="standard-height-selection" class="selection-grid">
                                
                                    <span class="selection-box-disabled">None</span>

                                </div>
                            </div>

                        </div>

                        <div id="stock-values">

                            <p>

                                <span class="stock-value-title">Quantity in stock:</span> <span class="info-pill" id="quantity-field">0</span>
                            
                            </p>
                            
                            <p>
                            
                                <span class="stock-value-title">Price per tree:</span> <span id="wholesale-price" class="info-pill">$0.00+GST (Wholesale)</span> <span id="retail-price" class="info-pill">$0.00+GST (Retail)</span>
                            
                            </p>
                    
                    
                        </div>

                        <div id="add-product-div">

                            <div>
                                {% comment %} <label for="quantity">Order Quantity</label> {% endcomment %}
                                <input disabled name="quantity" type="number" id="quantity" value="1" min="1" max="9999" inputmode="numeric">
                            </div>

                            <button disabled id="add-product">Add to order</button>
                        </div>

                    </div>

                    <div id="success-message">
                        <p id="success-message-text" class="paragraph-title">Added to order</p>
                    </div>

                </div>

            </div>

        </div>

        <div id="grid-content-bottom-right">

            <div id="tree-information-table">

                    {% if tree.family.size > 0 %}

                    <div>

                        <p><span class="tree-information-table-heading">Family:</span> {{ tree.family }}</p>

                    </div>

                    {% endif %}

                    {% if tree.genus.size > 0 %}

                    <div>

                        <p><span class="tree-information-table-heading">Genus:</span> <i>{{ tree.genus }}</i></p>

                    </div>

                    {% endif %}

                    {% if tree.species.size > 0 %}

                    <div>

                        <p><span class="tree-information-table-heading">Species:</span> <i>{{ tree.genus }}</i> <i>{{ tree.species }}</i></p>

                    </div>

                    {% endif %}

                    {% if tree.hybrid.size > 0 %}

                    {% if tree.hybrid contains ' x ' %}

                    <div>

                        <p><span class="tree-information-table-heading">Species:</span> <i>{{ tree.genus }}</i> <i>{{ tree.hybrid }}</i></p>

                    </div>

                    {% else %}

                    <div>

                        <p><span class="tree-information-table-heading">Species:</span> <i>{{ tree.genus }}</i> x <i>{{ tree.hybrid }}</i></p>

                    </div>

                    {% endif %}

                    {% endif %}

                    {% if tree.subspecies.size > 0 %}

                    <div>

                        <p><span class="tree-information-table-heading">Subspecies:</span> <i>{{ tree.genus }}</i> <i>{{ tree.species }}</i> subsp. <i>{{ tree.subspecies }}</i></p>

                    </div>

                    {% endif %}

                    {% if tree.variety.size > 0 %}

                    <div>

                        <p><span class="tree-information-table-heading">Variety:</span> <i>{{ tree.genus }}</i> <i>{{ tree.species }}</i> var. <i>{{ tree.variety }}</i></p>

                    </div>

                    {% endif %}

                    {% if tree.form.size > 0 %}

                    <div>

                        <p><span class="tree-information-table-heading">Form:</span> <i>{{ tree.genus }}</i> <i>{{ tree.species }}</i> f. <i>{{ tree.form }}</i></p>

                    </div>

                    {% endif %}

                    {% if tree.cultivar.size > 0 %}

                    <div>

                            {% if tree.form.size > 0 %}

                            <p><span class="tree-information-table-heading">Cultivar:</span> <i>{{ tree.genus }}</i> <i>{{ tree.species }}</i> f. <i>{{ tree.form }}</i> '{{ tree.cultivar }}'</p>

                            {% elsif tree.variety.size > 0 %}

                            <p><span class="tree-information-table-heading">Cultivar:</span> <i>{{ tree.genus }}</i> <i>{{ tree.species }}</i> var. <i>{{ tree.variety }}</i> '{{ tree.cultivar }}'</p>

                            {% elsif tree.subspecies.size > 0 %}

                            <p><span class="tree-information-table-heading">Cultivar:</span> <i>{{ tree.genus }}</i> <i>{{ tree.species }}</i> subsp. <i>{{ tree.subspecies }}</i> '{{ tree.cultivar }}'</p>

                            {% elsif tree.hybrid.size > 0 %}

                            {% if tree.hybrid contains ' x ' %}

                            <p><span class="tree-information-table-heading">Cultivar:</span> <i>{{ tree.genus }}</i> <i>{{ tree.hybrid }}</i> '{{ tree.cultivar }}'</p>

                            {% else %}

                            <p><span class="tree-information-table-heading">Cultivar:</span> <i>{{ tree.genus }}</i> x <i>{{ tree.hybrid }}</i> '{{ tree.cultivar }}'</p>

                            {% endif %}

                            {% else %}

                            <p><span class="tree-information-table-heading">Cultivar:</span> <i>{{ tree.genus }}</i> <i>{{ tree.species }}</i> '{{ tree.cultivar }}'</p>

                            {% endif %}

                    </div>

                    {% endif %}

                    {% if tree.synonyms.size > 0 %}

                    <div>

                        {% assign newString = "" %}

                        {% for item in tree.synonyms %}

                        {% if newString == "" %}

                        {% assign newString = newString | append: item %}

                        {% else %}

                        {% assign newString = newString | append: ", " | append: item %}

                        {% endif %}

                        {% endfor %}

                        <p><span class="tree-information-table-heading">Synonyms:</span> {{ newString }}</p>

                    </div>

                    {% endif %}

                    {% if botanicalName.size > 0 %}

                    <div>

                        <p><span class="tree-information-table-heading">Botanical Name:</span> {{ botanicalName }}</p>

                    </div>

                    {% endif %}


                    {% if commonName.size > 0 %}

                    <div>

                        <p><span class="tree-information-table-heading">Common Name:</span> {{ commonName }}</p>

                    </div>

                    {% endif %}


                    {% if description.size > 0 %}

                    <div>

                        <p><span class="tree-information-table-heading">Description:</span> {{ description }}</p>

                    </div>

                    {% endif %}


                    {% if height.size > 0 %}

                    <div>

                        {% assign newString = "" %}

                        {% assign newArray = height | split: ', ' %}

                        {% for item in newArray %}

                        {% assign newItem = item | replace: "-", " " | capitalize %}

                        {% if newString == "" %}

                        {% assign newString = newString | append: newItem %}

                        {% else %}

                        {% assign newString = newString | append: ", " | append: newItem %}

                        {% endif %}

                        {% endfor %}

                        <p><span class="tree-information-table-heading">Height:</span> {{ newString }}</p>

                    </div>

                    {% endif %}


                    {% if width.size > 0 %}

                    <div>

                        {% assign newString = "" %}

                        {% assign newArray = width | split: ', ' %}

                        {% for item in newArray %}

                        {% assign newItem = item | replace: "-", " " | capitalize %}

                        {% if newString == "" %}

                        {% assign newString = newString | append: newItem %}

                        {% else %}

                        {% assign newString = newString | append: ", " | append: newItem %}

                        {% endif %}

                        {% endfor %}

                        <p><span class="tree-information-table-heading">Width:</span> {{ newString }}</p>

                    </div>

                    {% endif %}


                    {% if uses.size > 0 %}

                    <div>

                        {% assign newString = "" %}

                        {% assign newArray = uses | split: ', ' %}

                        {% for item in newArray %}

                        {% assign newItem = item | replace: "-", " " | capitalize %}

                        {% if newString == "" %}

                        {% assign newString = newString | append: newItem %}

                        {% else %}

                        {% assign newString = newString | append: ", " | append: newItem %}

                        {% endif %}

                        {% endfor %}

                        <p><span class="tree-information-table-heading">Uses:</span> {{ newString }}</p>

                    </div>

                    {% endif %}


                    {% if tolerates.size > 0 %}

                    <div>

                        {% assign newString = "" %}

                        {% assign newArray = tolerates | split: ', ' %}

                        {% for item in newArray %}

                        {% assign newItem = item | replace: "-", " " | capitalize %}

                        {% if newString == "" %}

                        {% assign newString = newString | append: newItem %}

                        {% else %}

                        {% assign newString = newString | append: ", " | append: newItem %}

                        {% endif %}

                        {% endfor %}

                        <p><span class="tree-information-table-heading">Tolerates:</span> {{ newString }}</p>

                    </div>

                    {% endif %}


                    {% if soilType.size > 0 %}

                    <div>

                        {% assign newString = "" %}

                        {% assign newArray = soilType | split: ', ' %}

                        {% for item in newArray %}

                        {% assign newItem = item | replace: "-", " " | capitalize %}

                        {% if newString == "" %}

                        {% assign newString = newString | append: newItem %}

                        {% else %}

                        {% assign newString = newString | append: ", " | append: newItem %}

                        {% endif %}

                        {% endfor %}

                        <p><span class="tree-information-table-heading">Soil Type:</span> {{ newString }}</p>

                    </div>

                    {% endif %}


                    {% if sunShade.size > 0 %}

                    <div>

                        {% assign newString = "" %}

                        {% assign newArray = sunShade | split: ', ' %}

                        {% for item in newArray %}

                        {% assign newItem = item | replace: "-", " " | capitalize %}

                        {% if newString == "" %}

                        {% assign newString = newString | append: newItem %}

                        {% else %}

                        {% assign newString = newString | append: ", " | append: newItem %}

                        {% endif %}

                        {% endfor %}

                        <p><span class="tree-information-table-heading">Sun and Shade:</span> {{ newString }}</p>

                    </div>

                    {% endif %}


                    {% if winterFoliage.size > 0 %}

                    <div>

                        {% assign newString = "" %}

                        {% assign newArray = winterFoliage | split: ', ' %}

                        {% for item in newArray %}

                        {% assign newItem = item | replace: "-", " " | capitalize %}

                        {% if newString == "" %}

                        {% assign newString = newString | append: newItem %}

                        {% else %}

                        {% assign newString = newString | append: ", " | append: newItem %}

                        {% endif %}

                        {% endfor %}

                        <p><span class="tree-information-table-heading">Winter Foliage:</span> {{ newString }}</p>

                    </div>

                    {% endif %}


                    {% if origin.size > 0 %}

                    <div>

                        {% assign newString = "" %}

                        {% assign newArray = origin | split: ', ' %}

                        {% for item in newArray %}

                        {% assign newItem = item | replace: "-", " " | capitalize %}

                        {% if newString == "" %}

                        {% assign newString = newString | append: newItem %}

                        {% else %}

                        {% assign newString = newString | append: ", " | append: newItem %}

                        {% endif %}

                        {% endfor %}

                        <p><span class="tree-information-table-heading">Origin:</span> {{ newString }}</p>

                    </div>

                    {% endif %}


                    {% if types.size > 0 %}

                    <div>

                        {% assign newString = "" %}

                        {% assign newArray = types | split: ', ' %}

                        {% for item in newArray %}

                        {% assign newItem = item | replace: "-", " " | capitalize %}

                        {% if newString == "" %}

                        {% assign newString = newString | append: newItem %}

                        {% else %}

                        {% assign newString = newString | append: ", " | append: newItem %}

                        {% endif %}

                        {% endfor %}

                        <p><span class="tree-information-table-heading">Types:</span> {{ newString }}</p>

                    </div>

                    {% endif %}

                    {% if tree.stem.summer != "" or tree.stem.autumn != "" or tree.stem.winter != "" or tree.stem.spring != "" %}

                    <div>
                    
                        <p><span class="tree-information-table-heading">Stem:</span></p>

                        <ul class="color-list">

                        {% if tree.stem.summer != "" %}

                            {% assign string = "" %}

                            {% assign array = tree.stem.summer | split: ", " %}

                            {% for item in array %}

                                {% assign newItem = item | capitalize %}

                                {% if string == "" %}

                                    {% assign string = string | append: newItem %}

                                {% else %}

                                    {% assign string = string | append: ", " | append: newItem %}

                                {% endif %}
                            
                            {% endfor %}

                            <li><p>Summer: {{ string }}</li>

                        {% else %}

                        <li><p>Summer:</li>

                        {% endif %}

                        {% if tree.stem.autumn != "" %}

                            {% assign string = "" %}

                            {% assign array = tree.stem.autumn | split: ", " %}

                            {% for item in array %}

                                {% assign newItem = item | capitalize %}

                                {% if string == "" %}

                                    {% assign string = string | append: newItem %}

                                {% else %}

                                    {% assign string = string | append: ", " | append: newItem %}

                                {% endif %}
                            
                            {% endfor %}

                            <li><p>Autumn: {{ string }}</li>

                        {% else %}

                        <li><p>Autumn:</li>

                        {% endif %}

                        {% if tree.stem.winter != "" %}

                            {% assign string = "" %}

                            {% assign array = tree.stem.winter | split: ", " %}

                            {% for item in array %}

                                {% assign newItem = item | capitalize %}

                                {% if string == "" %}

                                    {% assign string = string | append: newItem %}

                                {% else %}

                                    {% assign string = string | append: ", " | append: newItem %}

                                {% endif %}
                            
                            {% endfor %}

                            <li><p>Winter: {{ string }}</li>

                        {% else %}

                        <li><p>Winter:</li>

                        {% endif %}

                        {% if tree.stem.spring != "" %}

                            {% assign string = "" %}

                            {% assign array = tree.stem.spring | split: ", " %}

                            {% for item in array %}

                                {% assign newItem = item | capitalize %}

                                {% if string == "" %}

                                    {% assign string = string | append: newItem %}

                                {% else %}

                                    {% assign string = string | append: ", " | append: newItem %}

                                {% endif %}
                            
                            {% endfor %}

                            <li><p>Spring: {{ string }}</li>

                        {% else %}

                        <li><p>Spring:</li>

                        {% endif %}

                        </ul>

                    </div>

                    {% endif %}

                    {% if tree.foliage.summer != "" or tree.foliage.autumn != "" or tree.foliage.winter != "" or tree.foliage.spring != "" %}

                    <div>
                    
                        <p><span class="tree-information-table-heading">Foliage:</span></p>

                        <ul class="color-list">

                        {% if tree.foliage.summer != "" %}

                            {% assign string = "" %}

                            {% assign array = tree.foliage.summer | split: ", " %}

                            {% for item in array %}

                                {% assign newItem = item | capitalize %}

                                {% if string == "" %}

                                    {% assign string = string | append: newItem %}

                                {% else %}

                                    {% assign string = string | append: ", " | append: newItem %}

                                {% endif %}
                            
                            {% endfor %}

                            <li><p>Summer: {{ string }}</li>

                        {% else %}

                        <li><p>Summer: None</li>

                        {% endif %}

                        {% if tree.foliage.autumn != "" %}

                            {% assign string = "" %}

                            {% assign array = tree.foliage.autumn | split: ", " %}

                            {% for item in array %}

                                {% assign newItem = item | capitalize %}

                                {% if string == "" %}

                                    {% assign string = string | append: newItem %}

                                {% else %}

                                    {% assign string = string | append: ", " | append: newItem %}

                                {% endif %}
                            
                            {% endfor %}

                            <li><p>Autumn: {{ string }}</li>

                        {% else %}

                        <li><p>Autumn: None</li>

                        {% endif %}

                        {% if tree.foliage.winter != "" %}

                            {% assign string = "" %}

                            {% assign array = tree.foliage.winter | split: ", " %}

                            {% for item in array %}

                                {% assign newItem = item | capitalize %}

                                {% if string == "" %}

                                    {% assign string = string | append: newItem %}

                                {% else %}

                                    {% assign string = string | append: ", " | append: newItem %}

                                {% endif %}
                            
                            {% endfor %}

                            <li><p>Winter: {{ string }}</li>

                        {% else %}

                        <li><p>Winter: None</li>

                        {% endif %}

                        {% if tree.foliage.spring != "" %}

                            {% assign string = "" %}

                            {% assign array = tree.foliage.spring | split: ", " %}

                            {% for item in array %}

                                {% assign newItem = item | capitalize %}

                                {% if string == "" %}

                                    {% assign string = string | append: newItem %}

                                {% else %}

                                    {% assign string = string | append: ", " | append: newItem %}

                                {% endif %}
                            
                            {% endfor %}

                            <li><p>Spring: {{ string }}</li>

                        {% else %}

                        <li><p>Spring: None</li>

                        {% endif %}

                        </ul>

                    </div>

                    {% endif %}

                    {% if tree.flowers.summer != "" or tree.flowers.autumn != "" or tree.flowers.winter != "" or tree.flowers.spring != "" %}

                    <div>
                    
                        <p><span class="tree-information-table-heading">Flowers:</span></p>

                        <ul class="color-list">

                        {% if tree.flowers.summer != "" %}

                            {% assign string = "" %}

                            {% assign array = tree.flowers.summer | split: ", " %}

                            {% for item in array %}

                                {% assign newItem = item | capitalize %}

                                {% if string == "" %}

                                    {% assign string = string | append: newItem %}

                                {% else %}

                                    {% assign string = string | append: ", " | append: newItem %}

                                {% endif %}
                            
                            {% endfor %}

                            <li><p>Summer: {{ string }}</li>

                        {% else %}

                        <li><p>Summer: None</li>

                        {% endif %}

                        {% if tree.flowers.autumn != "" %}

                            {% assign string = "" %}

                            {% assign array = tree.flowers.autumn | split: ", " %}

                            {% for item in array %}

                                {% assign newItem = item | capitalize %}

                                {% if string == "" %}

                                    {% assign string = string | append: newItem %}

                                {% else %}

                                    {% assign string = string | append: ", " | append: newItem %}

                                {% endif %}
                            
                            {% endfor %}

                            <li><p>Autumn: {{ string }}</li>

                        {% else %}

                        <li><p>Autumn: None</li>

                        {% endif %}

                        {% if tree.flowers.winter != "" %}

                            {% assign string = "" %}

                            {% assign array = tree.flowers.winter | split: ", " %}

                            {% for item in array %}

                                {% assign newItem = item | capitalize %}

                                {% if string == "" %}

                                    {% assign string = string | append: newItem %}

                                {% else %}

                                    {% assign string = string | append: ", " | append: newItem %}

                                {% endif %}
                            
                            {% endfor %}

                            <li><p>Winter: {{ string }}</li>

                        {% else %}

                        <li><p>Winter: None</li>

                        {% endif %}

                        {% if tree.flowers.spring != "" %}

                            {% assign string = "" %}

                            {% assign array = tree.flowers.spring | split: ", " %}

                            {% for item in array %}

                                {% assign newItem = item | capitalize %}

                                {% if string == "" %}

                                    {% assign string = string | append: newItem %}

                                {% else %}

                                    {% assign string = string | append: ", " | append: newItem %}

                                {% endif %}
                            
                            {% endfor %}

                            <li><p>Spring: {{ string }}</li>

                        {% else %}

                        <li><p>Spring: None</li>

                        {% endif %}

                        </ul>

                    </div>

                    {% endif %}

                    {% if tree.fruit.summer != "" or tree.fruit.autumn != "" or tree.fruit.winter != "" or tree.fruit.spring != "" %}

                    <div>
                    
                        <p><span class="tree-information-table-heading">Fruit:</span></p>

                        <ul class="color-list">

                        {% if tree.fruit.summer != "" %}

                            {% assign string = "" %}

                            {% assign array = tree.fruit.summer | split: ", " %}

                            {% for item in array %}

                                {% assign newItem = item | capitalize %}

                                {% if string == "" %}

                                    {% assign string = string | append: newItem %}

                                {% else %}

                                    {% assign string = string | append: ", " | append: newItem %}

                                {% endif %}
                            
                            {% endfor %}

                            <li><p>Summer: {{ string }}</li>

                        {% else %}

                        <li><p>Summer: None</li>

                        {% endif %}

                        {% if tree.fruit.autumn != "" %}

                            {% assign string = "" %}

                            {% assign array = tree.fruit.autumn | split: ", " %}

                            {% for item in array %}

                                {% assign newItem = item | capitalize %}

                                {% if string == "" %}

                                    {% assign string = string | append: newItem %}

                                {% else %}

                                    {% assign string = string | append: ", " | append: newItem %}

                                {% endif %}
                            
                            {% endfor %}

                            <li><p>Autumn: {{ string }}</li>

                        {% else %}

                        <li><p>Autumn: None</li>

                        {% endif %}

                        {% if tree.fruit.winter != "" %}

                            {% assign string = "" %}

                            {% assign array = tree.fruit.winter | split: ", " %}

                            {% for item in array %}

                                {% assign newItem = item | capitalize %}

                                {% if string == "" %}

                                    {% assign string = string | append: newItem %}

                                {% else %}

                                    {% assign string = string | append: ", " | append: newItem %}

                                {% endif %}
                            
                            {% endfor %}

                            <li><p>Winter: {{ string }}</li>

                        {% else %}

                        <li><p>Winter: None</li>

                        {% endif %}

                        {% if tree.fruit.spring != "" %}

                            {% assign string = "" %}

                            {% assign array = tree.fruit.spring | split: ", " %}

                            {% for item in array %}

                                {% assign newItem = item | capitalize %}

                                {% if string == "" %}

                                    {% assign string = string | append: newItem %}

                                {% else %}

                                    {% assign string = string | append: ", " | append: newItem %}

                                {% endif %}
                            
                            {% endfor %}

                            <li><p>Spring: {{ string }}</li>

                        {% else %}

                        <li><p>Spring: None</li>

                        {% endif %}

                        </ul>

                    </div>

                    {% endif %}

            </div>

        </div>

        {% if tree.links.size > 0 %}

        <div id="more-information">

            <h3 id="more-information-heading">More information</h3>

            <div id="more-information-links">
        
            {% for link in tree.links %}

                <p><a href="{{ link }}" target="_blank" rel="noopener noreferrer">{{ link }}</a><p>

            {% endfor %}

            </div>
        
        </div>
        
        {% endif %}

    </div>


    {% if tree.relatedTrees.size > 0 %}
    <h3 id="related-trees-heading">You may also like</h3>

    <div id="related-trees">
    
    {% for relatedTree in tree.relatedTrees %}

    <div class="related-tree">
        <div class="tree-image">
            <img src="https://leafland.imgix.net/images/trees/{{ relatedTree.mainImage }}?auto=format&w=500&q=75">
        </div>
        <div class="tree-content">
            <div>
                <h2>{{ relatedTree.botanicalName }}</h2>
                {% if relatedTree.commonName != '' %}
                <h3>{{ relatedTree.commonName }}</h3>
                {% endif %}
            </div>
            <a class="button tree-link" href="/trees/{{ relatedTree.url }}/">View Tree</a>
        </div>
    </div>

    {% endfor %}
    
    </div>
    {% endif %}

{% comment %} 
    <div id="add-to-order-button-div">
        <button id="add-to-order-button">View pricing and stock</button>
    </div> {% endcomment %}

</div>

