---
layout: layouts/base.liquid
type: top-trees
---

<div id="content">

    <h1>{{ title }}</h1>

    <div id="tree-wrapper">
    
    {% for tree in topTrees.trees %}

    <a class="tree-item" href="/trees/{{ tree.url }}/">
    
        <img src="https://leafland.co.nz/cdn-cgi/image/format=auto,quality=75,width=150/https://files.leafland.co.nz/{{ tree.mainImage }}" width="150" height="150" alt="{{ tree.url | replace: '-', ' ' }}">
        
        <div class="title-link-box">
        
            <div class="title-container">
            
                <h2>{{ tree.botanicalName }}</h2>

                {% if tree.commonName != "" %}
                
                <h3>{{ tree.commonName }}</h3>

                {% endif %}
            
            </div>
        
        </div>
    
    </a>

    {% endfor %}
    
    </div>

</div>
