---
layout: layouts/base.liquid
title: Tree Finder
type: tree-finder
description: Leafland is the home of quality specimen trees. We stock a wide range of big trees and large grade trees including native trees, fruit trees, hedging trees, and flowering trees. Buy trees online now! We provide New Zealand with quality specimen trees and deliver all over the country.
---

<div id="content">

    <div id="finder-content">

        <h1>Tree Finder</h1>

        <button id="open-filter">Filter Trees</button>

        <div id="clear-filter-buttons"></div>

        <div id="grid-content">

            <div id="tree-wrapper">
            
            {% for tree in trees %}

            {% if forloop.index0 < 12 %}
            <div class="tree-item" style="opacity:1;visibility:visible">
            
                <div class="tree-image">
                
                    <img src="https://leafland.co.nz/cdn-cgi/image/format=auto,quality=75,width=700/https://files.leafland.co.nz/{{ tree.mainImage }}" width="700" height="700" alt="{{ tree.url | replace: '-', ' ' }}">
                
                </div>
                
                <div class="title-link-box">
                
                    <div class="title-container">
                    
                        {% if tree.cultivar.size > 0 %}

                            {% if tree.form.size > 0 %}

                            <h2><i>{{ tree.genus }}</i> <i>{{ tree.species }}</i> f. <i>{{ tree.form }}</i> '{{ tree.cultivar }}'</h2>

                            {% elsif tree.variety.size > 0 %}

                            <h2><i>{{ tree.genus }}</i> <i>{{ tree.species }}</i> var. <i>{{ tree.variety }}</i> '{{ tree.cultivar }}'</h2>

                            {% elsif tree.subspecies.size > 0 %}

                            <h2><i>{{ tree.genus }}</i> <i>{{ tree.species }}</i> subsp. <i>{{ tree.subspecies }}</i> '{{ tree.cultivar }}'</h2>

                            {% elsif tree.hybrid.size > 0 %}

                            {% if tree.hybrid contains ' x ' %}

                            <h2><i>{{ tree.genus }}</i> <i>{{ tree.hybrid }}</i> '{{ tree.cultivar }}'</h2>

                            {% else %}

                            <h2><i>{{ tree.genus }}</i> x <i>{{ tree.hybrid }}</i> '{{ tree.cultivar }}'</h2>

                            {% endif %}

                            {% else %}

                                {% if tree.species.size > 0 %}

                                <h2><i>{{ tree.genus }}</i> <i>{{ tree.species }}</i> '{{ tree.cultivar }}'</h2>

                                {% else %}

                                <h2><i>{{ tree.genus }}</i> '{{ tree.cultivar }}'</h2>

                                {% endif %}

                            {% endif %}

                        {% elsif tree.form.size > 0 %}

                        <h2><i>{{ tree.genus }}</i> <i>{{ tree.species }}</i> f. <i>{{ tree.form }}</i></h2>

                        {% elsif tree.variety.size > 0 %}

                        <h2><i>{{ tree.genus }}</i> <i>{{ tree.species }}</i> var. <i>{{ tree.variety }}</i></h2>

                        {% elsif tree.subspecies.size > 0 %}

                        <h2><i>{{ tree.genus }}</i> <i>{{ tree.species }}</i> subsp. <i>{{ tree.subspecies }}</i></h2>

                        {% elsif tree.hybrid.size > 0 %}

                        {% if tree.hybrid contains ' x ' %}

                        <h2><i>{{ tree.genus }}</i> <i>{{ tree.hybrid }}</i></h2>

                        {% else %}

                        <h2><i>{{ tree.genus }}</i> x <i>{{ tree.hybrid }}</i></h2>

                        {% endif %}

                        {% else %}

                        <h2><i>{{ tree.genus }}</i> <i>{{ tree.species }}</i></h2>

                        {% endif %}

                        {% if tree.commonName != "" %}
                        
                        <h3>{{ tree.commonName }}</h3>

                        {% endif %}
                    
                    </div>
                    
                    <a href="/trees/{{ tree.url }}/" class="tree-link button">View Tree</a>
                
                </div>
            
            </div>

            {% else %}

            {% break %}
            
            {% endif %}

            {% endfor %}
            
            
            </div>

            <div id="button-div">
                <button id='load-more'>Load more</button>
                <button id='return-to-top'>Return to top</button>
            </div>
        </div>

    </div>

</div>
